[2014-10-18 16:18] gavinballard opened #1 "Improved "Getting Started" docs"
Hey Chris!

I'm keen to help test out and provide feedback on this project - am totally on board with your rationale behind wanting to improve the Shopify theme gem.

I'm not familiar with Go, so it would be great if the README contained some "assume I'm dumb" getting started instructions. FWIW, I've managed to get Go installed and ready to compile, but not really sure on what the next steps are.

[2014-10-23 07:09] #1 closed, assigned to nobody

[2014-11-12 01:11] nickjj opened #2 "Ignore files based on a pattern"
It would be nice if we could ignore files based on pattern matching, for example I want to ignore all files that end with ~ (emacs backup files) so I can use the watcher without it trying to upload `foo~` files and failing.

This issue was originally brought up here:
https://github.com/Shopify/shopify_theme/issues/122

[2014-11-18 00:49] pemulis opened #3 ""Update" operation performed when uploading new asset file"
Finally got a chance to play around with this today! Let the issue reports begin.

I created a test file in my assets folder called best-cat.jpg and ran the command:

`theme-manipulate upload assets/best-cat.jpg`

which returned the message:

`Successfully performed Update operation for file assets/best-cat.jpg to my-store.myshopify.com`

When I go to my store, I see a new file called best-cat.jpg

[2014-11-18 00:52] pemulis opened #4 "Downloading asset file fails"
Running the following command:

`theme-manipulate download assets/testfile.png`

returned this error:

`Could not create /my/theme/directory/open /my/theme/directory/: is a directory`

No file was downloaded.

[2014-11-21 20:17] nickjj opened #5 "[theme-watch] Crashes due to too many open files"
I've gotten this crash a number of times, it just exits the watcher.

[code]

[2014-11-23 19:41] #3 closed, assigned to nobody

[2014-11-23 19:42] csaunders opened #6 "Patches made to theme-watch aren't reflected in other parts of the theme utilties"
The code changes made in https://github.com/csaunders/phoenix/commit/d14a308237e8b4ad138fb52815b8cc260c5f5b5a can probably be used by most of the other command utilities. Because of that it's probably a good idea to look into moving that functionality into the library itself.

[2014-11-23 21:42] #5 closed, assigned to nobody

[2014-11-24 21:33] nickjj opened #7 "Binary assets appear to be broken when uploaded through the watcher"
#### Steps to reproduce
1. Start `theme-watcher` on a directory, such as **mytheme**
2. Copy a binary asset into `~/mytheme/assets/foo.png`
#### Outcome

A broken image. The image is broken when trying to view it in the Shopify admin too.
#### Work around for now

Just upload it through the Shopify admin web interface.

[2014-11-25 10:52] #7 closed, assigned to nobody

[2014-11-25 18:14] nickjj opened #8 "[theme-watch] Using sed with -i caused a LOT of temp files to be uploaded"
#### What caused it?

I ran this command to do a quick and dirty recursive find/replace:

`find ./ -type f -exec sed -i -e 's/foo/bar/g' {} \;`

#### Results?

About 400 dead files uploaded to the shop, such as:

[code]

There's no way to remove them with the watcher because they don't exist locally. Thoughts on how to remove these files without manually having to delete 400 of them by hand?

[2014-11-25 18:26] csaunders opened #9 "Manipulate files based on a pattern"
Removing or downloading (basically manipulating) certain files can be a bit tedious. Being able to pass in a pattern such as `assets/kitties*` would make it easier to work with a bunch of files at once.

See issue #8 for some details on why something like this would be handy

[2014-11-27 00:06] nickjj opened #10 "[watcher / uploading files] Give proper feedback when Shopify blocks a file from being uploaded"
#### Discovery

I was editing a template where I forgot to close a pagination tag and the watcher said it updated the file but the result was the file not being updated because I'm guessing Shopify blocked it at some point after the watcher tried to do its job.

#### Feature request

It would be really handy if you could listen for a response from Shopify after uploading and just parrot back the f

[2014-12-01 18:37] #4 closed, assigned to nobody

[2014-12-02 14:28] #2 closed, assigned to nobody

[2014-12-04 20:32] nickjj opened #11 "[theme-manipulate] upload accepts patterns but has multiple issues"
I noticed you had a ticket open for manipulate->download but this affects manipulate->upload.

I was able to `theme-manipulate upload assets/*` with the December 2nd pre-release, but there's multiple bugs:

1. It does not properly handle binary assets still, they aren't correct files.
2. Trying to just `upload *` fails, but this also means doing `snippets/*` fails too because eventually it hits th

[2014-12-07 20:31] nickjj opened #12 "[theme-watch] Panic when .git/ directory exists"
The panic occurs with or without the directory being flagged to ignore in the `config.yml`.

[code]

[2014-12-09 17:24] nickjj opened #13 "Contributing to the source code"
I decided this week will be "let's learn some Go" week. Came across something that seems not normal with installing and developing this package. I installed Go and setup a local `$GOPATH` for third party packages and my work.
#### First issue: missing dependencies

`go get github.com/csaunders/phoenix`

Trying to build that as is resulted in a missing dependency, I had to manually perform:
`go get

[2014-12-09 18:09] #13 closed, assigned to nobody

[2014-12-09 18:12] nickjj opened #14 "Unresolved dependencies when installing phoenix for development"
##### Install it
`go get github.com/csaunders/phoenix`

##### Issue
Missing dependency on `fsnotify.v1` which stops the world.

##### Temporary fix for now
`go get https://gopkg.in/fsnotify.v1`

[2014-12-11 18:31] reggi opened #15 "Package management"
Hey! Just stumbled upon this repo from [shopify_theme](https://github.com/Shopify/shopify_theme/issues/121). I know this project is very fresh, and is still being developed. I was surprised to see you have everything in downloadable releases. I'd love it if you guys used a package manager. I really don't care what package manager you guys choose, just so that I can download this dependency and emb

[2014-12-11 22:43] reggi opened #16 "Point to theme folder within config.yml"
https://github.com/Shopify/shopify_theme/issues/126

Right now using the CLI or the config you can't set the theme folder it assumes it's the current directory. I like to leave the theme files together in their own folder. Lets say I have a dir structure like this.

[code]

How can I point to the theme folder?

[2014-12-11 22:50] reggi opened #17 "Some unixy way of piping what and when something fires"
There's this cool terminal OSX growl notifier that would be awesome if I could pipe to the command so on upload I could run something like this.

[code]

[2014-12-12 16:28] reggi opened #18 "Save a file I get three update events"
This is a little odd when I save a file I get three update events.

This is causing problems for [piping stdout](https://github.com/csaunders/phoenix/issues/17) :/

[code]

[2014-12-12 20:43] reggi opened #19 "crazy 8445 line error if no config file"
https://gist.github.com/reggi/3ec51d808cb9491bd3a9

[2014-12-12 20:59] reggi opened #20 "Upload entire theme"
`theme-manipulate upload` should sync the version I have with the version on shopify, no?

[2014-12-15 19:38] #19 closed, assigned to nobody

[2014-12-16 01:53] #17 closed, assigned to nobody

[2015-01-01 16:25] #18 closed

[2015-01-01 16:33] csaunders commented on #14
Yeah, just got around to trying this out on a new go installation and the mentioned command works.

I'll update the documentation for contributors

[2015-01-01 16:34] #14 closed

[2015-01-01 18:49] #11 closed

[2015-01-01 19:28] csaunders commented on #20
As of 0.0.4 you can now do fileglobs, so if you wanted you could say `theme-manipulate upload *` and it will push all your local changes to Shopify.

Currently there isn't a way of knowing whether a local and remote file have changed yet. That a feature on it's own, that I'd like to get to eventually.

[2015-01-01 19:28] #20 closed

[2015-01-01 19:29] csaunders commented on #8
Pretty sure the changes in 0.0.4 resolve this. If it's not the case, please feel free to reopen the issue.

[2015-01-01 19:29] #8 closed

[2015-01-01 19:30] csaunders commented on #9
This has been resolved in release 0.0.4

[2015-01-01 19:30] #9 closed

[2015-01-01 19:31] csaunders commented on #6
LoadAsset has been duplicated over to `theme_client.go`. Just need to figure out what needs to change in the theme watcher in order to simply just leverage the code there instead. I don't think it's a lot of work.

[2015-01-07 22:56] csaunders commented on #12
I signed up for your email list or whatever. Could you send a zip of your project that causes the app to crash?

[2015-01-07 23:44] #10 closed

[2015-01-07 23:47] csaunders commented on #10
The latest nightly has this patch so you can start using it if you'd like.

[2015-01-09 05:20] wolverex opened #22 "Windows: use of double backslash in payload's path results in 404"
Hi,
On my Windows computer, when the application tries to perform any operation it is always met with a 404 error because the payload looks like this` {"asset":{"key":"assets\ \image.jpg"}}` (added space Github trying to escape it) which is not acceptable. it has to be a single foward slash {"asset":{"key":"assets/image.jpg"}} . Is this an issue with just my computer or Windows in general?

[2015-01-09 14:39] csaunders commented on #22
It's probably a windows issue. I'm goofing around with keys and made the assumption that I'd be working with unix-like paths, which is probably why this is broken.

Thanks for being the first windows user to try it out.

[2015-01-12 22:05] csaunders commented on #12
Fixed in 58bf4e815e859fb8a5b06fa9ee590c47a5ec0158

You can get these changes from the [0.0.5 release](https://github.com/csaunders/phoenix/releases/tag/0.0.5)

[2015-01-12 22:05] #12 closed

[2015-02-02 17:35] #22 closed

[2015-02-14 17:19] csaunders commented on #6
Fixed with #25

[2015-02-14 17:19] #6 closed

[2015-02-18 12:44] csaunders opened #27 "Theme CLI needs acceptance and functional testing"
Right now there isn't a way to verify things are working the way they should before a release is done. Adding some tests around this area would drastically help ensure that nothing gets broken to the command line tool.

[2015-02-18 13:26] csaunders commented on #16
The changes in [0.1.0](https://github.com/csaunders/phoenix/releases/tag/0.1.0) pretty much address this. Maybe changing to `--config` or `--config-location` or something, but otherwise I think this issue is fixed.

[2015-02-18 13:38] ckhatton commented on #16
@csaunders +9 :+1:

[2015-02-18 14:10] #16 closed

[2015-02-18 16:11] thisislawatts opened #28 "Sublime 3 .tmp files triggering remote Remove action"
[code]

If you [disable atomic saving](http://stackoverflow.com/questions/20634684/what-is-sublime-text-doing-when-i-save-a-file) it will no longer delete the file.
[code]

By default `atomic_saving` is set as true, so I thought it may be worth noting this bug somewhere Google might find it .

[2015-02-18 16:19] csaunders commented on #28
You could add `*.tmp` to your ignores and it won't get picked up by the watcher.

[2015-02-18 16:21] thisislawatts opened #29 "Recieved Typo in logging"

[2015-02-18 16:24] #29 closed

[2015-02-18 16:33] thisislawatts commented on #28
Ah, I wasn't sure about that. Should I be referencing the config.yml structure from the [Shopify_theme](https://github.com/shopify/shopify_theme) gem?

[2015-02-19 10:37] thisislawatts opened #31 "Theme watch not uploading entire file"
This is an interesting one, perhaps tied to the size of the file being uploaded. When using `theme watch` to handle uploading [a stylesheet](https://github.com/Shopify/Timber/blob/master/assets/timber.scss.liquid) it seems to upload different amounts, my tests show it tends to drop out between lines 567–1700 (approx 45kb)

[code]

No such errors when using `theme upload`

[2015-02-19 12:42] csaunders commented on #31
Are you using a Unix-like operating system?

Install `mitmproxy` boot it up and add the following to your `config.yml` for the appropriate environment:

[code]

[2015-02-19 12:43] csaunders commented on #31
Keep an eye on that and see if anything weird is happening. Feel free to post the response here, but be vigilant to sanitize out any sensitive information (access tokens, etc.)

[2015-02-19 13:16] thisislawatts commented on #31
Writing out the contents of `mitmdump` and it looks like it's not transmitting the complete file, so perhaps it's getting truncated down the line somewhere within the tool? I've got the source so could add some further logging and compile it out, any recommendations on where to start?

Running OSX 10.10.1

[2015-02-19 13:47] csaunders commented on #31
that's pretty weird. A 45kb file shouldn't be causing this kind of problem.

I'll test it out with some scss files and some larger ones like an MP3 or something.

[2015-02-19 13:49] csaunders commented on #31
How much have you modified the scss in Timber? If I were to grab the latest release I should be able to replicate the issue pretty easily eh?

[2015-02-19 14:00] thisislawatts commented on #31
I had added a hundred lines or so, but then testing again with the unmodified version I was able to recreate it with the original.

Quickly testing it out with https://gist.github.com/thisislawatts/bfbf7c912a9d0abc1301 <https://gist.github.com/thisislawatts/bfbf7c912a9d0abc1301> and it bails out between 2000~3400

[2015-02-19 22:53] halleycarleton opened #32 "Getting 404 on `theme upload`"
*Release 0.1.0*

When I run `theme upload` I get a 404 for all files. Watch does not have any issues.

Example:
[code]

[2015-02-19 22:57] halleycarleton commented on #32
Ah, I figured it out.

The relative file path was the issue. This worked:
`theme upload --env=development assets/styleguide.css.liquid`

[2015-02-19 22:57] #32 closed

[2015-02-22 17:00] csaunders opened #33 "theme_client.go needs to get refactored"
It's getting pretty hairy to use in some parts and is becoming a catch-all for a bunch of features.

[2015-02-24 17:01] thisislawatts commented on #31
Were you able to recreate this issue on your side?

[2015-02-24 17:18] csaunders commented on #31
I haven't gotten around to it yet.

[2015-02-26 17:04] csaunders commented on #28
I believe you can. I've got a few minor features to get completed then I'll put some effort into improving the documentation. It's really bad at the moment :(

[2015-02-26 17:07] #31 closed

[2015-02-26 17:09] stevebosworth opened #36 "Would like to use * wildcards in ignored files for *.png *.jpg"
Might be a simple docs update or something but it would be great if we could use wildcards in our ignore files!!

[2015-03-04 13:49] csaunders opened #37 "Improve error messages when proxy isn't working"
The errors we're getting back when a tool like `mitmproxy` isn't running are super cryptic. This needs to be improved

[2015-03-11 16:57] #33 closed

[2015-03-11 17:37] csaunders commented on #37
Fixed in 0.1.2

[2015-03-11 17:37] #37 closed

[2015-03-31 11:55] llait opened #40 "Error when I trying to download theme."
This is me `config.yml`
[code]

This is error log:
[code]

[2015-03-31 13:14] csaunders commented on #40
Running an old version of the library I assume? Did upgrading fix anything?

[2015-03-31 13:15] llait commented on #40
@csaunders yep but I have new error
`2015/03/31 15:56:16 json: cannot unmarshal string into Go value of type []phoenix.Asset
`

[2015-03-31 13:18] csaunders commented on #40
What command are you running?

[2015-03-31 13:21] llait commented on #40
[code]

[2015-03-31 13:30] csaunders commented on #40
Is your shop URL correct? If the URL is incorrect you probably aren't getting the right JSON response.

If you are certain the domain is correct,  could you install `mitmproxy` and add the following to the `development` section of your `config.yml`

[code]

Then before you retry again, ensure `mitmproxy` is running. It'll log the request and we can see what Shopify is responding with. This will he

[2015-03-31 15:27] bman-80stees commented on #40
@csaunders
I do have a question related to getting this installed on a Win7 64bit machine, how do I go about doing that?  Also, It looks like this is related to our Shopify theme, I know because of the "Setsuna-Pluto" part. I'm new to Github and installing this theme manager from Git. A detailed instruction would be extremely helpful. :) I have ruby and Git for Windows installed, that was a pain a

[2015-03-31 15:37] csaunders commented on #40
You can just grab a copy of a pre-built binary for windows from the [releases section](https://github.com/csaunders/phoenix/releases/tag/0.2.0)

[2015-03-31 15:42] bman-80stees commented on #40
I did that, but I don't know what to do with the amd64 zip file? I've extracted the 'theme' file and don't know what to do from there. I tried making it a .exe file and executing it, a dos prompt flashed and that was it. Then I tried just adding it to my ruby bin folder which is in the path, but now I'm stumped. I don't think it's working. I have also previously installed the Shopify-theme, which

[2015-03-31 15:44] llait commented on #40
@csaunders
[code]

I recheck my credentials found mistake in password, so absurdly! Thanks for help!

Please update information in your [site] about current release version, because it misleading.

http://csaunders.github.io/phoenix/

[2015-03-31 15:46] csaunders commented on #40
Yeah. I need to get around to making the documentation suck way less. I might just focus on docs instead of code for the next little while.

Sorry about this. :(

[2015-03-31 15:47] llait commented on #40
@csaunders :+1:

[2015-03-31 15:48] bman-80stees commented on #40
@csaunders Can you help me? Do I need to create a separate issue?

[2015-03-31 15:49] bman-80stees commented on #40
@csaunders Are you on talkshopify.slack?

[2015-03-31 15:52] csaunders commented on #40
I'm on the Shopify IRC on #freenode.

[2015-03-31 16:03] bman-80stees commented on #40
@csaunders I don't know what that is, I tried searching for it and came up empty. :/ Can you help me get this setup on my win7 machine?

[2015-03-31 16:09] csaunders commented on #40
https://webchat.freenode.net/

Put `#shopify` in the channels text area.

[2015-03-31 16:23] #40 closed

[2015-03-31 16:56] bman-80stees commented on #40
@csaunders I'm on there as Bman  Thanks

[2015-03-31 17:04] llait commented on #40
@csaunders  sorry, please tell me. How I can automatically download changes from sever?
We are development team and we search a possibility to synchronise work.

[2015-03-31 17:10] csaunders commented on #40
Right now there is no synchronization. So you'll just have to download them before you start working on it.

There was some talk of adding the `If-Unmodified-Since` header to that endpoint to make it easier for clients to know that there was a collision.

For now the solution is to not modify the same files :(

[2015-03-31 17:13] llait commented on #40
@csaunders thanks, its so bad :sob:

[2015-04-01 12:37] atomgiant opened #41 "theme download includes liquid and non-liquid versions of assets"
I used the theme download (using phoenix v0.2.0) for a theme that has .js.liquid assets, and the end result is both a .js and .js.liquid version of the asset are downloaded.

For example, if you have a file called assets/site.js.liquid, the download ends up grabbing assets/site.js and assets/site.js.liquid.

I would expect only the .js.liquid files to be downloaded.

[2015-04-02 02:52] sdn90 opened #42 "Installation and documentation links broken on gh-pages"
Link are set to http://csaunders.github.io/install and http://csaunders.github.io/documentation

Should be http://csaunders.github.io/phoenix/install and http://csaunders.github.io/phoenix/install

[2015-04-02 03:37] hughker commented on #42
@csaunders — PR #43 should fix this and also make it all pretty by loading the CSS.

[2015-04-02 14:07] csaunders commented on #42
You caught me. This requires a patch to the readme not to the links.

http://themekit.cat

[2015-04-02 14:09] hughker commented on #42
Oh you're not using GitHub Pages @csaunders ?

[2015-04-02 14:09] csaunders commented on #42
https://github.com/csaunders/phoenix/commit/0685d32bb49aa18b9102c3f93f8cf8e0c43be34f

[2015-04-02 14:10] csaunders commented on #42
Yes I am, but I'm using custom domains.

https://github.com/csaunders/phoenix/commit/0685d32bb49aa18b9102c3f93f8cf8e0c43be34f

[2015-04-02 14:10] #42 closed

[2015-04-02 14:12] hughker commented on #42
Of course, I should've looked for the CNAME file before asking… thanks @csaunders

[2015-04-09 16:45] csaunders commented on #36
@stevebosworth super late response is super late, but yes you can!

It needs to be within double quotes otherwise it'll crash (I'm working on fixing that one right now).

So for example:

[code]

[2015-04-09 16:54] stevebosworth commented on #36
:+1: awesome!!

[2015-04-09 16:55] csaunders opened #44 "Invalid Configuration Files causes app to think configuration files need to be migrated"
Then it subsequently crashes.

[2015-04-09 19:38] csaunders commented on #44
Fixed in https://github.com/csaunders/themekit/commit/6bd08b3f044e2315b7b27d39845ba8c37a7166df

[2015-04-09 19:38] #44 closed

[2015-04-09 19:39] csaunders commented on #36
The next release is going to include some fixes around that whole crashing thing. But I'd say this has been resolved.

[2015-04-09 19:39] #36 closed

[2015-04-14 01:27] sdn90 opened #45 "Watch not working"
Using 0.2.1. I don't think it's a configuration issue as I am able to download files fine.

[code]

[2015-04-14 12:40] csaunders commented on #45
What platform are you on?

[2015-04-14 21:12] sdn90 commented on #45
OS X 10.10.. Using the Darwin build

[2015-04-15 01:29] sdn90 commented on #45
Randomly gave it another shot and it worked.

I'm a little confused on what happened since I was guessing that it could have been something to do with the file descriptor limit.. I did a reboot and I was still getting the error.

Will report back if I get the error again.

[2015-04-15 02:34] csaunders commented on #45
Yeah that's super weird. It was just crashing on boot?

- Chris Saunders / sndrs.ca

[2015-04-16 13:09] csaunders commented on #28
@thisislawatts I've updated the docs and even have a website that doesn't look super terrible now. Does this help explain things a bit better?

http://themekit.cat/docs/

[2015-04-16 13:18] thisislawatts commented on #28
That's looking great, thanks for following up on this.

[2015-04-16 13:18] #28 closed

[2015-04-20 10:51] sdn90 commented on #45
Adding .git to ignore_files has worked for past few days.

Not sure why this worked since I had it successfully running before without it in there.

[2015-04-20 20:29] csaunders commented on #45
Hmm did you possibly comment out something in the configuration file? For some reason watch bails when the YAML file has comments, but not when download is being used.

Odd...

[2015-04-20 20:47] csaunders commented on #45
The git directory had a ton of subdirectories, causing the program to have opened too many files.
I'll have a release out in like 10 minutes.

[2015-04-20 20:47] #45 closed

[2015-04-20 20:53] csaunders commented on #45
https://github.com/csaunders/themekit/releases/tag/0.2.2

[2015-04-23 18:10] bman-80stees opened #47 "uploading theme liquid file not working"
I was in the middle of updating a bunch of theme files and everyone I uploaded worked just fine except for the theme.liquid file.
I'm using a Windows7 cmd to upload the files to our Shopify store.

```theme upload layout\theme.liquid``` doesn't work
```theme upload templates\index.liquid``` does work

Any thoughts on why this is acting this way?

[2015-04-23 18:24] csaunders commented on #47
Do other uploads cause output to the terminal or are you just seeing no output? The best way to verify that nothing is happening would be to put something obvious in the template (like ``) then verify that the changes aren't up on shopify via the admin.

I might not just be logging the event. Still a bug, but not as serious :)

[2015-04-23 18:27] bman-80stees commented on #47
I put a very vivid color bar at the top of the <body> in the file and tried to upload it multiple times. It looks like it works each time within the cmd prompt, but when  I view the site, there is not change, no vivid bar at the very top. I also looked in the admin, no changes there either.

[2015-04-23 18:30] bman-80stees commented on #47
There were also some really big css removals in the ```<head>``` section. That are not present after uploading the file via cmd.

[2015-04-23 18:33] bman-80stees commented on #47
To answer your question after I type ```theme upload templates\index.liquid``` and hit enter, there is no output, just the prompt again. That file uploads fine. It does the same for the theme.liquid file, no output on the cmd window.

[2015-04-23 18:36] bman-80stees commented on #47
I even tried closing out the cmd prompt and reinstalling the theme kit after a fresh download. That didn't work either.

[2015-04-23 18:38] csaunders commented on #47
If you are on the latest version, re-installing wouldn't do anything. I can probably replicate this on my system and figure out whats going on via `mitmproxy`

[2015-04-23 19:15] bman-80stees commented on #47
Apparently, I had a liquid syntax issue and that's why it didn't upload. Basically, Shopify rejected it, but in no way was I alerted of it. I found this out by taking the contents of my file and pasting them into the online editor and hitting save. That gave me an error in the admin theme editor. I fixed the error and tried the uploader again, this time it worked. Could there be some messaging to

[2015-04-23 20:11] csaunders commented on #47
Ah yeah... barf. I'll improve console reporting so you can see the status of an upload in your console instead of guessing that all was well.

[2015-04-27 16:38] bman-80stees commented on #41
@csaunders Will this be addressed soon?  It actually causes some grief in the workflow using github considering it downloads files not being used for editing when making commits. There are more changes than there actually are. "styles.css" and "styles.css.liquid" are both downloaded to the local directory and git sees the "new" styles.css as a change when nothing had changed to styles.css.liquid.

[2015-04-27 16:51] csaunders commented on #41
The work around for now just add those files to your gitignore.

http://stackoverflow.com/questions/10755655/git-ignore-tracked-files

[2015-04-28 20:58] bman-80stees opened #48 "Theme Upload with no arguments should upload entire theme to Shopify"
I was trying to upload the entire theme back to Shopify and nothing happened when I tried these:
```theme upload```
```theme upload -env="development"```
downloading the theme works just fine and uploading individual files works as well.  Just the uploading all files does not work. Is this supposed to work or is it a bug?

[2015-04-28 21:08] csaunders commented on #48
It's not supported at the moment.

[2015-04-28 21:30] bman-80stees commented on #48
I was asking around and everyone that I spoke with said it was based off of the theme gem and `theme upload` for all files works with that.  The reason I asked was because, I had over 25 files to upload and didn't want to do them individually. That would take way too much time and trying to remember which ones I did and all that. I also didn't want to use the `theme watch` as I needed to make mult

[2015-04-30 21:44] stevebosworth opened #49 "Themekit won't upload i18n files in `locales/` folder"
[code]
[code]

Get the above message when uploading a theme.

[2015-05-11 14:17] csaunders commented on #49
This is fixed in [0.2.3](https://github.com/csaunders/themekit/releases/tag/v0.2.3)

[2015-05-11 14:17] #49 closed

[2015-05-11 14:17] csaunders commented on #48
Fixed in [0.2.3](https://github.com/csaunders/themekit/releases/tag/v0.2.3)

[2015-05-11 14:17] #48 closed

[2015-05-11 14:18] csaunders commented on #47
[0.2.3](https://github.com/csaunders/themekit/releases/tag/v0.2.3) adds output so you'll be able to tell if nothing is legitimately happening now. It'll also tell you if there was an error. If this isn't the case, please feel free to reopen the issue.

[2015-05-11 14:18] #47 closed

[2015-05-16 19:14] benje opened #52 "Not creating configuration file on OS X?"
Hi there,
Just thought I'd give this tool a go (no pub intended!) to make uploading themes a bit quicker. I've installed it ( v0.2.3 darwin-amd64.zip) following the instructions and can see the command list using 'theme --help' as expected. However when I run:
    theme configure <private access token> store.myshopify.com staging
It does not return anything or create a config.yml file in my curren

[2015-05-17 13:50] csaunders commented on #52
The arguments aren't the same as they were in the theme gem. They are a bit more explicit. You can find out details about the subcommands by typing in `--help`:

[code]

For a basic configuration you'd need to set the `domain` and `access_token` flags. Looking at what you are wanting to do, you probably want to set the `env` flag as well.

[2015-05-17 13:50] #52 closed

[2015-05-25 16:01] stevebosworth opened #53 "Add [Y/N] confirmation before rewriting malformed config.yml"
Moving over from theme gem, I've accidentally overwritten my config.yml when I've forgot to update the format.

Since the config.yml is not tracked by git this makes getting back all my shop api key's a chore unless I happen to have it open in an editor.

[2015-05-25 17:27] csaunders commented on #53
Hahaha... good call!

[2015-06-02 20:55] #53 closed

[2015-06-10 19:54] csaunders opened #55 "Does not gracefully handle when Shopify returns 404"
The application crashes instead of simply printing out the error. When a 404 happens, still raise an error but include detailed information (error code, etc.)

/cc @stevebosworth

[2015-06-11 18:11] stevebosworth opened #56 "Watch re-uploads files when you commit in git"
I noticed that themekit `watch` will re-upload all the files included in a git commit.

i.e.
[code]
[code]
will cause `theme.liquid` and `search.liquid` to be uploaded to your store.  I would expect this only to happen on save, not after committing changes in git.

[2015-06-16 20:48] sinak opened #57 "Documentation needs a lot of work"
I'm relatively competent (though with minimal experience with go) but couldn't get themekit working, no matter what I tried. The documentation really needs better real-world examples.

I tried running:
[code]
But no configuration file was generated, and nor was there any error. Pretty stumped from there on out.

[2015-06-17 16:17] csaunders commented on #57
It's broken, that's why it's not working. Must've been something brought in by the latest release. I'll get a regression test written up and figure out what broke.

An older version _should_ work.

[2015-06-22 23:29] sinak commented on #57
Okay thanks @csaunders :). Glad to know I wasn't just doing it wrong.

[2015-06-24 17:54] csaunders commented on #57
You can download a patched version here:

- https://github.com/csaunders/themekit/releases/tag/0.2.5

[2015-06-24 17:54] #57 closed

[2015-07-03 16:48] thisislawatts opened #60 "Uploading customer/ templates via `theme watch` returns 404"
It appears that `watch` is missing 'templates' within the key:
[code]

Compared to `theme upload templates/customers/activate_account.liquid` outputting the following:
[code]

[2015-07-06 08:57] thisislawatts commented on #48
Has there been a regression on this, just attempted the `theme`

[code]

[2015-08-11 05:33] ajmalafif opened #61 "How do I uninstall?"
I've been trying to work on existing projects but themekit is blocking. I've set up everything as per docs but still can't manage to upload/download any files. It keeps on giving this error code:

[code]
So how do I uninstall?

[2015-08-12 03:15] ajmalafif commented on #61
I am still stuck with this issue and just need help to uninstall. Please advise.

[2015-08-12 03:18] ajmalafif commented on #61
Found it. Just do `source theme`

and delete the repo. Thanks!

[2015-08-12 03:18] #61 closed

[2015-08-21 19:03] bman-80stees opened #62 "Configuration File Issue"
I set up this following the instructions, but for whatever reason, it will not accept my config.yml file. It keeps asking me to confirm something and I click yes and it fails. Please see the screen capture of this error. Can you direct me on how to overcome this issue? Am I missing something? Thanks!
![themekit-error-config file](https://cloud.githubusercontent.com/assets/6884590/9416731/6bb7caa0-

[2015-08-21 19:16] bman-80stees commented on #62
Here is a screen capture of my configuration file:
![config-file-theme-kit](https://cloud.githubusercontent.com/assets/6884590/9417081/8483157e-4817-11e5-9810-aabbf1b99b0b.JPG)

[2015-09-02 17:28] csaunders commented on #62
We've figured out the bug. You need a `development` environment. Add an empty or jokes key to your YAML and it will work.

I'll have a patch that fixes this up in the next release. Sorry about that :(

[2015-09-02 17:30] csaunders opened #63 "Theme Upload freezes part-way through an entire theme upload"
Typically it will crash with a cryptic error that doesn't give you any information as to what is wrong.

`theme upload` should be enough to replicate the issue.

[2015-09-02 17:31] csaunders opened #64 "Theme Replace does not upload all files and provides no feedback if there was a failure"

[2015-09-02 17:49] csaunders opened #65 "Automatic Updating of theme binary"
Getting updates is a bit of a pain and it would be nice if people could just have the application update itself instead of needing to re-install another binary.

Some options
- https://github.com/sanbornm/go-selfupdate
- https://equinox.io/

[2015-09-02 17:50] csaunders commented on #65
Related to #15

[2015-09-02 18:01] csaunders opened #66 "Better handling of 403 errors"
Some assets are not allowed to be removed from a theme (i.e. templates/index.liquid and templates/theme.liquid) and return a 403.

During `theme remove` if a 403 is received the file should be left alone and a retry should not be attempted. The user should be notified that the asset could not be removed from Shopify.

During `theme replace` if a 403 is and the file was reserved, it should simply b

[2015-09-02 18:04] csaunders opened #67 "Use a proper colour library."
ANSI codes don't work on windows and the output looks terrible.

One option - https://github.com/fatih/color

More stuff can be found [here](https://github.com/avelino/awesome-go#advanced-console-uis)

[2015-09-02 18:11] csaunders opened #68 "Make it possible to initialize a theme with arbitrary theme zip"
Timber is great and all, but not everyone wants to use it. Perhaps an agency has their own baseline theme they use on all projects.

Instead of replacing how `theme bootstrap` works, instead another command could be added such as `initialize` which takes in a `--url` specifying where to go to download the theme.

`bootstrap` should probably become deprecated after this feature ships.

[2015-09-02 18:24] bman-80stees commented on #62
Thanks!  I had figured that may have been the issue.

[2015-09-03 14:35] thisislawatts commented on #60
🎉👍

[2015-09-03 14:48] csaunders commented on #55
Is this still an issue? Do you have any replication steps @stevebosworth?

[2015-09-03 14:55] stevebosworth commented on #55
I have not seen it in a while so it's possible this is resolved.  I'm not sure how you'd trigger a 404 to check tho

[2015-09-03 21:25] csaunders commented on #55
I found it. PR will be going up soon.

[2015-09-03 21:26] #62 closed

[2015-09-03 21:26] #60 closed

[2015-09-03 21:38] #66 closed

[2015-09-03 21:38] #55 closed

[2015-09-03 21:38] #67 closed

[2015-09-03 21:41] csaunders commented on #64
@stevebosworth, do a pull from master and see if this is still the case. There's a bunch of changes that have gone in that might fix up a bunch of issues.

Let me know if anything is still not working.

[2015-09-03 21:45] stevebosworth commented on #64
Thanks @csaunders!!!

[2015-09-04 13:13] csaunders opened #73 "Themekit needs an installer"
We have a few approaches we can take for this:

- `curl | sh` installer (Linux & Mac OSX)
- homebrew recipe (OSX only)
- Nullsoft Scriptable Install System (Windows only)

I've never done anything like this before so I'm not too sure what the best approach for this would be.

[2015-09-04 13:42] stevebosworth commented on #73
I assume homebrew and the installer would be the most popular but having a fallback for linux is good too.  Is there a lot of effort required to do all three?

[2015-09-04 13:43] csaunders commented on #73
The main problem I have with homebrew is that it just targets a single platform. I'm going to give the installer script a try, which should at least get 2 platforms targetted.

Honestly, unixy systems are jokes. It's getting something that installs the application for Windows users that is the hardest.

[2015-09-04 15:38] csaunders opened #74 "When a job fails because of a 429, it just gets dropped on the floor"
The job should be requeued and retried again later

[2015-09-04 15:44] csaunders commented on #56
Idea:

- Watch for changes on the current branch if the theme is a git repo.
- When the theme changes kill all the watchers
- Stop all the workers
- Drain the job queue
- Invoke a replace of all the files
- Restart the workers

[2015-09-04 15:56] csaunders opened #75 "Install from source instructions"
There aren't any instructions on how to build and setup themekit from source

[2015-09-04 17:53] cshold opened #76 "Change blue output text to light blue"
To improve readability in terminal, can we use a lighter blue for the text?

![screen shot 2015-09-04 at 1 53 29 pm](https://cloud.githubusercontent.com/assets/1730309/9690757/56402f44-530c-11e5-97b4-0f0b5bc66a7a.png)

[2015-09-04 19:24] csaunders commented on #73
I've written up an installer for Linux and Mac and have tested it out on my vagrant box as well as on my Mac. I also had a few people give it a run and they also got themekit working on their systems.

The installer script is [here](https://github.com/Shopify/themekit/blob/installers/install) and I've also updated [the website](http://themekit.cat) with this new installation method.

[2015-09-04 19:36] csaunders commented on #76
That's a configuration change you need to make in your terminal. ANSI blue always sucks.

[2015-09-04 19:37] cshold commented on #76
:+1:

[2015-09-04 19:37] #76 closed

[2015-09-08 13:52] cshold opened #77 "Cannot upload customer templates"
I get the same error on every customer template:

![screen shot 2015-09-08 at 9 50 19 am](https://cloud.githubusercontent.com/assets/1730309/9736421/16895000-560f-11e5-8620-3d75a92ebc8e.png)

Uploading via admin or theme gem work as expected.

@csaunders

cc @mpiotrowicz @stevebosworth

[2015-09-08 13:54] cshold commented on #77
`theme upload templates/*` does upload them as expected. Steve, could this be a gulp issue then?

[2015-09-08 13:57] thisislawatts commented on #77
Which version of themekit are you running? I believe this was fixed just last week. https://github.com/Shopify/themekit/issues/60

[2015-09-08 14:11] cshold commented on #77
Ah, just updated to 0.2.7 and seems to work well, although no more colors in terminal. Thanks.

[2015-09-08 14:11] #77 closed

[2015-09-08 14:18] csaunders commented on #77
The missing colours appear to be an issue with the console thing you are
using with Gulp. If you run themekit outside of your tooling the colours
should be working correctly. If that is not the case, let me know.

On Tue, Sep 8, 2015 at 10:11 AM, Carson Shold <notifications@github.com>
wrote:

--
Chris Saunders // Developer @ Shopify

[2015-09-08 17:32] stevebosworth commented on #64
Seems like this is still an issue.  I did a pull from master and tried `theme upload` and got the same error with `invalid argument` from one of the locales files

[2015-09-08 17:37] csaunders commented on #64
I'll need to see your configuration and usage to figure out what is going
wrong.

On Tue, Sep 8, 2015 at 1:32 PM, Steve Bosworth <notifications@github.com>
wrote:

--
Chris Saunders // Developer @ Shopify

[2015-09-09 13:50] cshold opened #78 "theme upload does not upload templates"
`theme upload templates/*` works great though

[code]

@csaunders

[2015-09-09 14:07] cshold opened #79 "theme upload errors out on layout/theme.liquid"
Similar to https://github.com/Shopify/themekit/issues/78, `theme upload layout/*` works, but `theme watch` errors out when editing `layout/theme.liquid`. If I remove the offending lines causing syntax errors, a different error pops up. Uploading via admin also works as expected.

[code]
@csaunders

[2015-09-09 14:52] csaunders commented on #79
Is this causing the application to crash? It seems like getting the
feedback you are getting back from the attempted upload is correct.

When you make the appropriate fix, are you still getting errors?

Could you include replication steps similar to these guidelines?
<https://developer.mozilla.org/en-US/docs/Mozilla/QA/Bug_writing_guidelines#str>
?

On Wed, Sep 9, 2015 at 10:07 AM, Carson Shold <n

[2015-09-09 15:10] cshold commented on #79
App does not crash, just shows the error. The error listed isn't actually an error, so there's nothing to fix. Strangest part, randomly removing a line and re-saving sometimes uploads it properly during `theme watch`, and other times says there's an error. Gif might help explain a bit:

![themekit](https://cloud.githubusercontent.com/assets/1730309/9765580/f681b3ae-56e2-11e5-895e-4ea88d09171e.gif)

[2015-09-10 20:59] stevebosworth opened #81 "Slightly extremely elevated CPU usage"
High CPU usage:
<img width="802" alt="screenshot 2015-09-10 16 09 10" src="https://cloud.githubusercontent.com/assets/1938373/9800692/738e4728-57dc-11e5-9b14-4ba3db6ef837.png">

After quitting then restarting:
<img width="803" alt="screenshot 2015-09-10 16 18 16" src="https://cloud.githubusercontent.com/assets/1938373/9800800/25da981e-57dd-11e5-9f10-704f45b71e4f.png">

After manually killing each

[2015-09-10 21:08] csaunders commented on #81
Hmmm... I wonder if we have some rogue process problems going on here. I don't think that would be the case, but maybe something is causing us to Orphan processes or something? I don't know enough about the go runtime to be sure that's even possible.

We are using a super old version of fsnotify, so upgrading to another version that has better OS notification adapter integrations might be the more

[2015-09-10 23:17] stevebosworth opened #82 "[999]Could not perform Update to assets/shop.scss.liquid at Host Unknown"
Got the following error from themekit after running our concat css task.  It doesn't look like anything was picked up by mitmproxy either.

![screenshot 2015-09-10 19 15 28](https://cloud.githubusercontent.com/assets/1938373/9803430/84eb617c-57f0-11e5-8506-fc2e97c15c1d.png)

[2015-09-10 23:19] stevebosworth commented on #82
Saving the `config.yml` AND restarting `theme watch` seems to resolve the issue.

[2015-09-11 13:11] csaunders commented on #81
I'm going to remove this from the milestone for now. There's a few other bugs I want to close off before tackling this one.

With the possible API changes in fsnotify, it could end up being a time consuming yak shave.

[2015-09-11 13:12] csaunders commented on #73
We'll open another issue for Windows users. It might require learning how to build an MSI or something.

[2015-09-11 13:12] #73 closed

[2015-09-11 13:14] csaunders opened #83 "Installer for Windows"
The installer will need to do a few things:
- Install appropriate version of themekit (32 / 64 bit)
- Add installation location to windows PATH.
  - Looking into this it means modifying the Registry :S

[2015-09-11 13:48] stevebosworth commented on #81
sounds good.  Shall I'll keep an eye on activity monitor to see if I can provide any more info?

[2015-09-11 20:55] #75 closed

[2015-09-12 14:09] thisislawatts opened #85 "Update event not being passed correct filename/path"
I have a file `snippets/page-layout-image-pair.liquid` which when saved with `theme update` running I see the following:
[code]

Having played about a bit with filenames it seems to happen where a snippet name contains 'layout', so perhaps there's some greedy regex flagging it as something else?

[code]

[2015-09-14 12:10] csaunders commented on #85
So your file is `snippets/layout-image-pair.liquid` and the path is getting all goofed up?

[2015-09-14 12:38] thisislawatts commented on #85
The filename is `snippets/page-layout-image-pair.liquid` but it receives an update event for `layout-image-pair.liquid`

[2015-09-14 21:23] #41 closed

[2015-09-15 14:27] jtgrenz opened #87 "using an old config file and not accepting updates throws panic error"
If you have a folder that already has a ruby theme gem config file, running a command will prompt that the config file is out of date. If you say no, then there is a panic runtime error

[![alt](https://screenshot.click/15-55-j6bkn-44ygu.jpg)](https://screenshot.click/15-55-j6bkn-44ygu.jpg)

Raw

[code]

@csaunders

[2015-09-15 14:30] jtgrenz opened #88 "Help banner is unclear"
When runnign `theme --help` the help banner seems to imply that you need to run `-command="command-name"` as an argument when `theme <command>` is all that needs to be run

[![alt](https://screenshot.click/15-28-x2d34-wbktl.jpg)](https://screenshot.click/15-28-x2d34-wbktl.jpg)

That first line `-command="download": An operation to be performed against the theme.` should be removed

[2015-09-15 14:32] csaunders commented on #87
The YAML parser I'm using isn't compatible with the way Ruby wants it to be formatted. A work around for this is to simply fix up your configuration by removing the prefixed `:` and it should then be able to migrate your configuration over.

I'm not sure if it's worth submitting a patch to the YAML library for this. I am pretty sure that's not part of the spec. Could it be that Ruby takes keys tha

[2015-09-15 14:49] jtgrenz opened #89 "invalid CLI Args should fail gracefully"
Right now entering invalid arguments causes the tool to throw a panic when there should ideally be some error handling

[![alt](https://screenshot.click/15-46-ptv25-6jnwm.jpg)](https://screenshot.click/15-46-ptv25-6jnwm.jpg)

is a little scary looking. A better message would be something like
[code]

[2015-09-15 17:54] jtgrenz commented on #87
Seems to be a ruby feature for sure. Running it through http://www.yamllint.com/

[code]
Becomes :
[code]

but passes as valid YAML. The old theme gem has this style setup as its demos https://github.com/Shopify/shopify_theme#the-configyml-file So I'm not sure how backwards compatible we want to be. If themekit is designed to try and convert an existing configuration to the new model, it should fa

[2015-09-15 20:02] csaunders commented on #63
It appears like node modules are getting caught up in here and causing things to crap out. The filters don't appear to be ignoring these.

[2015-09-15 20:18] #64 closed

[2015-09-15 20:58] #63 closed

[2015-09-16 15:37] #56 closed

[2015-09-16 15:39] csaunders commented on #74
This would be handy but requires thinking more about what we would want this feature to actually do. How should it behave if we keep getting 429s, etc.

For now the solution is to just `theme upload`

[2015-09-16 21:30] csaunders commented on #78
This issue was because we weren't closing file handles. It's been resolved in https://github.com/Shopify/themekit/pull/91

I'm hoping to have an S3 bucket up so that I can add in automatic updating in the next Github release. If you want that feature now, then you'll [need to install from source](http://themekit.cat/install/#install-from-source).

[2015-09-16 21:30] #78 closed

[2015-09-16 21:43] csaunders commented on #82
I'm having a hard time replicating this issue.

[2015-09-16 22:41] csaunders commented on #85
Fixed in https://github.com/Shopify/themekit/commit/4fbc0935f631be5bc24fa5228f6dd10b7699c325

Are you building from source or would you need a new build to be released?

[2015-09-16 22:41] #85 closed

[2015-09-17 13:02] cshold commented on #78
:+1:

[2015-09-17 13:07] thisislawatts commented on #85
That's great, thanks @csaunders
👌

[2015-09-17 13:50] csaunders commented on #81
Turns out we are indeed using the most recent version of fsnotify. :/

[2015-09-17 15:00] #88 closed

[2015-09-17 15:10] csaunders commented on #89
What version of the tool are you using (`theme version`). On v0.2.7 I see some 406 errors pop up, but the application still runs correctly.

If `config.yml` is missing I get a gross error, but it's different than this one.

[2015-09-17 15:28] jtgrenz commented on #89
[code]

Its actually giving me the 406 errors now too. Using the wrong config.yml gives me issue https://github.com/Shopify/themekit/issues/87

Running the command sans config.yml file gives me a different error (probably the one you got too)

[code]

I'm not longer able to replicate the original issue, but a missing config file should fail gracefully too. I wish i knew what happened to cause that

[2015-09-17 16:59] csaunders commented on #89
Thanks!

![](http://media2.giphy.com/media/PjRo6vL5m9212/giphy.gif)

[2015-09-18 12:49] csaunders commented on #83
I'm thinking NSIS is the best bet to go for this. There's resources online on how to do downloads, or we can just bundle in the binary and install it from there.

The only other thing we need to do is update the PATH but apparently it's sketchy and can break things sometimes :/

[2015-09-18 13:51] csaunders commented on #15
Installation of themekit on [Linux and OSX is now basically jokes](http://themekit.cat/install/). And when #94 gets merged updating to newer versions will be a single command.

**Install for first time:**
`curl https://raw.githubusercontent.com/Shopify/themekit/installers/install | python`

**Update Application (once v0.3.0 goes out)**
`theme update`

[2015-09-18 13:51] #15 closed

[2015-09-18 15:27] #65 closed

[2015-09-18 15:44] csaunders commented on #87
As a result of https://github.com/Shopify/themekit/pull/95 this will no longer throw the error. The only thing missing is to perhaps prompt the user to update their configuration by hand.

If that is sufficient, please close the issue.

[2015-09-18 16:19] jtgrenz opened #96 "POSIX python installer does not update existing install"
If you already have a copy of theme kit installed, then the current python install script does not overwrite the existing install. My python is getting rusty, but looks like its this check here https://github.com/Shopify/themekit/blob/installers/install#L74

Doesn't seem to do anything else if it sees themekit is installed aside print the path setup instructions

@csaunders

[2015-09-18 16:22] jtgrenz commented on #89
When running `theme` without arguments, it throws an error on v0.3

[code]

Invalid arguments work great though

[2015-09-18 17:51] t-kelly opened #97 "theme replace only deleting files"
![image](https://cloud.githubusercontent.com/assets/4837696/9966707/62d0ebe4-5e0c-11e5-8c24-34790760cfff.png)

[2015-09-18 18:09] csaunders commented on #96
Yeah... I wasn't sure if I wanted to overwrite it or not. I guess it
doesn't really matter, or maybe I should prompt the user?

On Fri, Sep 18, 2015 at 12:19 PM, Jon Grenning <notifications@github.com>
wrote:

--
Chris Saunders // Developer @ Shopify

[2015-09-18 18:15] csaunders commented on #97
Are you using v0.3.0?

[2015-09-18 18:21] #96 closed

[2015-09-18 18:21] csaunders commented on #96
Installer will just always do an overwrite of the file.

[2015-09-21 13:39] #89 closed

[2015-09-21 20:54] cshold opened #99 "Theme watch has file length limit?"
Uploading [this very long css file](https://github.com/Shopify/shopify-themes/blob/master/Lookbook/assets/style.scss.liquid) from Lookbook via `theme upload assets/style.css.liquid` works as expected. When uploading via `theme watch`, it seems to cut off at 4394 lines.

Can replicate on https://carson-dev-shop-2.myshopify.com/ (PM me for themekit credentials).

[2015-09-22 14:46] cshold commented on #97
on 0.3.1 `theme replace` hangs and doesn't do anything at all for me

[2015-09-22 14:55] cshold commented on #97
Can confirm that `theme replace` is only deleting files.
![screen shot 2015-09-22 at 10 55 19 am](https://cloud.githubusercontent.com/assets/1730309/10021942/713450f4-6118-11e5-8b23-a36e924f06b0.png)

[2015-09-22 17:16] stevebosworth opened #100 "themekit.AssetError on theme watch command"
Found an issue when running the `theme watch` command.

Returns a 401 error with the message: `json: cannot unmarshal string into Go value of type themekit.AssetError` when you save a liquid file

[2015-09-22 17:17] stevebosworth commented on #79
++ I also run into this issue.  Haven't managed to catch it with mitmproxy though :-(

[2015-09-30 17:28] csaunders opened #101 "Include Platform in UserAgent string"
If the platform is encoded in the string it can assist with usage statistics.

[2015-09-30 17:46] cshold commented on #97
@t-kelly let us know if you see this issue still (if themekit got working for you again that is). I can't recreate it again.

[2015-09-30 17:51] t-kelly commented on #97
@cshold Yep - still only removes files. http://tk-demo-test.myshopify.com/

[2015-09-30 17:51] t-kelly commented on #97
Watch still does not work either.

[2015-09-30 21:05] csaunders commented on #97
There is something weird going on here as it seems to only be happening to some people. From what I have gathered the application is running on the host, so it should be working fine.

Could there be something broken/messed up with FS events not getting fired correctly? We will need to figure out more details because it's extremely hard to replicate.

Looking at the output from mitmproxy, there ap

[2015-10-01 15:38] cshold opened #102 "theme replace removes customer templates"
Customer templates are removed and never added/updated. `theme upload templates/customers*` works as expected.

[code]

[2015-10-02 15:05] larrybotha opened #103 "watch uploads +-25kb of file"
If I watch my *.css.liquid, I can reliably expect a partial upload.

Running watch on a minified and unminified file repeatedly uploads approximately 25Kb of the file.

No options are added to `config.yml`.

OS: Mac OSX 10.9.5
Themekit 0.3.1

[2015-10-08 05:58] jterskine commented on #100
+1

[2015-10-08 16:02] csaunders commented on #100
If you have more information you could provide into what is happening that would be great. +1's don't provide more debugging information and as a result just generate noise.

A tool that is vital for providing insight into what is going on is [mitmproxy](http://mitmproxy.org/doc/mitmproxy.html). Themekit supports proxies by simply setting the `proxy` field in a configuration.

Look at the API resp

[2015-10-13 19:45] cshold opened #104 "Rename access_token to password in config.yml"
Common issue when getting setup for the first time is for the dev to use Shopify-generated API key instead of the password from their private app page. Any other possible fixes?

cc @stevebosworth @t-kelly @AWaselnuk

[2015-10-13 20:17] AWaselnuk commented on #104
Could be as simple as including a comment in config-sample.yml if you want to stay consistent with theme kit args.

[2015-10-14 13:56] csaunders commented on #104
We go back to using "password"?

The private apps page should really be updated in my opinion. For private apps the API Key isn't actually used for anything.

/cc @jamesmacaulay

[2015-10-14 21:40] cshold commented on #103
Can we put a priority on this? Makes editing css of existing themes (with some very large stylesheets) impossible.

[2015-10-15 04:06] stevebosworth commented on #104
I'm cool with going back to `password`.  Most are used to that from the bad old theme gem days

[2015-10-16 16:42] csaunders commented on #103
Could you describe in more detail what your workflow is like here? I'm playing around with some pretty large assets (three.js and bootstrap.css) and the entire files appear to be getting uploaded correctly.

Are there lots of writes happening to the same file over and over again?

[2015-10-17 16:29] Leland opened #105 "Invalid configuration values should fail gracefully"
This is a corollary to #89.

Running themekit with invalid values in the configuration file causes commands to spew unhelpful errors for each of the files in the request. This prevents the user from diagnosing the root cause of the error.

Case in point: I got this set up initially using a private app's API Key, instead of it's password. When ran, I got ~50 errors denoting:

I would never have fig

[2015-10-25 16:19] chuckhendo opened #106 "Watch does not work at all in Windows 10"
I haven't tested on other computers/versions of Windows, but on my copy of Windows 10, watch will not detect any changes.

I pulled the source code, and I think I've got the problem isolated to the "extractAssetKey" function inside of file_watcher.go. My knowledge of Go is extremely limited, but just by doing some Printf's throughout the function, it seems that "split := strings.SplitAfterN(filena

[2015-10-28 00:40] NathanPJF opened #107 "[Doc] Manual installation instructions PATH line"
In the [manual instructions](http://themekit.cat/install/#installing-on-mac-os-amp-linux) for installing Theme Kit, it has instructions to modify your profile by adding `export PATH=$PATH:~/Applications/bin` to the bottom of the file.

The problem with this is if you have the **shopify_theme** gem already installed, the `theme` command will still be based on the gem and not theme kit.

To avoid ha

[2015-10-28 18:11] csaunders commented on #103
I was able to replicate something that I think is showing what is going wrong here. If there are lots of changes happening in rapid succession to very large files, they are actually getting locked up in Shopify's background queue.

We only allow a single job to run for an asset, and with the case of a large asset (I was going from 1 byte to more than 1 megabyte) it can take a while. Unfortunately,

[2015-10-28 20:54] larrybotha commented on #103
With our current structure, we use Gulp to build sass from outside of the Shopify theme into the `assets` folder.

We have themekit watch a few folders at once, but only when sass is built will it trigger an upload for the compiled css. When building sass, there won't be multiple other uploads, so I'm experiencing this on single file updates.

I'm pretty sure when Node closes a file after writing

[2015-10-28 23:18] csaunders commented on #103
Are we absolutely sure this is the true? There is no guarantee that is the case and it should be easy to test. Instead of dumping built file into the assets directory, write it somewhere else then move it. That should let us definitively know if it's an issue with how files are getting written to or if there is an underlying issue in this application.

@cshold and some colleagues have a similar se

[2015-10-29 13:01] cshold commented on #103
I've can recreate this issues with `theme watch` on `.scss.liquid` and `.js.liquid` files, no build tasks involved.

[2015-10-29 13:17] thisislawatts commented on #103
I'm also experiencing this issue with a heavyweight snippets/*.liquid file. Weighing in at an understated 129kb.

[2015-10-29 13:56] csaunders commented on #103
Replicated the issue and a patch that I have in https://github.com/Shopify/themekit/tree/bugfix-large-files-do-not-upload appears to fix it.

If you have the go runtime installed and want to double check that this does indeed fix the issue please do. I'll be on the #shopify IRC channel on freenode if you need any help getting your environment set up.

[2015-10-29 21:52] csaunders commented on #106
That's weird that it's only specific to Windows 10. There's some code in there that should make it coerce the backslashes correctly. I'll look into this when I get a chance (I don't have a windows 10 VM with go setup at the moment)

[2015-10-29 22:51] chuckhendo commented on #106
Well, not necessarily isolated to just Windows 10. But that's the OS I'm observing it on. I'll download an 8.1 VM tonight and see how it behaves there

[2015-10-30 00:45] chuckhendo commented on #106
Issue seems to be occurring in 8.1 as well.

[2015-10-30 13:44] csaunders commented on #106
Interesting. This must be a regression because one of the main reasons this
project exists is to make it easier to do theme development on Windows.

On Thu, Oct 29, 2015 at 8:45 PM, Carl Henderson <notifications@github.com>
wrote:

--
Chris Saunders // Developer @ Shopify

[2015-10-31 23:43] chuckhendo commented on #106
Well, does seem to be a regression. Here's what I've found so far:

0.2.6: Works
0.2.7: Seems to work, but then you get a 404 like so
[code]
0.3.0: Doesn't do anything on file save

[2015-11-01 00:04] chuckhendo commented on #106
Issue seems to have specifically started with 41d4db6

[2015-11-01 05:03] csaunders commented on #106
Thanks for that! I have an update that I'm working on that will hopefully
come out soon. I'll try to get this patched up and in there too.

Cheers :)

On Sat, Oct 31, 2015 at 8:04 PM, Carl Henderson <notifications@github.com>
wrote:

--
Chris Saunders // Developer @ Shopify

[2015-11-03 02:53] cshold commented on #103
@stevebosworth can you test out the patch and see if it fixes the issue?

[2015-11-03 05:11] stevebosworth commented on #103
Tested this branch with @csaunders a few days ago and then again today.  Seems like it's :100: on my end :ship:

[2015-11-06 06:26] altern8tif opened #111 "Alternative installation in /usr/local/bin"
Is there any reason why it needs to be installed in `~/Applications/bin`?  I thought that binaries are typically installed in `/usr/local/bin` rather than directly in the user's Applications folder.

Even better, it should be made even easier to install using [Homebrew](https://github.com/Homebrew/homebrew).  This could eliminate any possible installation errors.

I can put up a PR to add it to th

[2015-11-06 14:19] csaunders commented on #111
Homebrew is Mac specific, so it's another script to maintain for a slightly different unix-like system.

Installing in `/usr/local/bin` requires changing the entire directory permissions or running as root.

![](https://www.dropbox.com/s/898ltreorwpan4i/Screenshot%202015-11-06%2009.18.38.png?dl=0)

[2015-11-06 14:19] #111 closed

[2015-11-17 15:23] cshold commented on #103
Can we get this in a new release?

[2015-11-17 20:33] csaunders commented on #103
A release is now up on S3. All you should have to do is `theme update`

[2015-11-17 20:33] #103 closed

[2015-11-25 15:42] cshold commented on #102
Still valid on v0.3.2

[2015-12-04 03:27] sogko opened #116 "Theme Watch - Too many files open for 249 files"
Theme watch fails when I have 249 files in the theme folder.

[code]

When  I moved out some asset files out (bringing the file count down to 218 files), theme watch works.

I tried to add the assets folder to `ignore_files`, it didn't help though, which is kind of weird. Is my config for ignore_files wrong?

config.yml
[code]

Platform: OSX 10.11.1

Cheers!

[2015-12-04 17:26] NathanPJF opened #117 "[Doc] using `env` example"
Can an example on how to use `--env` be added to the documentation, please?

Just spent a good while trying to figure out why `theme replace [file] --env=staging` wasn't working.  It would be helpful to be shown an example of using different environments.

[2015-12-06 22:47] sdn90 opened #118 "Feature request: Default Ignores"
I can't really see any major use cases for watching files outside of the Shopify theme structure. Anything outside of the structure doesn't upload anyways.

Pretty much ignore everything **not** in:

[code]

[2015-12-08 01:18] anaralvarado opened #119 "Timber can't be retrieved from github"
theme bootstrap -setid=true -prefix="brand"

returns

'https://github.com/Shopify/Timber/archive/v2.1.4.zip' cannot be retrieved from Github

[2015-12-09 03:10] stevebosworth commented on #81
Closing this issue.  Turns out it was the result of using themekit with gulp using a node `child_process` with `exec` as opposed to `spawn`.

[2015-12-09 03:10] #81 closed

[2015-12-10 22:09] ilikeorangutans commented on #119
@anaralvarado I'm unable to reproduce this. What version of themekit are you using? And, is this issue still happening for you?

[2015-12-10 22:24] ilikeorangutans commented on #116
Can confirm, this is a repeatable bug.

[2015-12-11 16:22] ilikeorangutans commented on #116
@sogko Are you on a Unix like system (linux, mac os x)? This might be your shell's file descriptor limit. Try running `ulimit -n` which should return you the number of file descriptors that a process can use in your shell. Default for mac os x is 256 I believe which fits the described issue nicely.

Try increasing the limit by running `ulimit -n 1024` and see if that fixes the issue.

[2015-12-11 18:25] #101 closed

[2015-12-12 01:50] sogko commented on #116
@ilikeorangutans Yeap, I'm on a Mac OSX; that explains a lot.
`ulimit -n 1024` did fix the issue (it was at `256` before).

Thanks! 👍🏻

[2015-12-12 01:50] #116 closed

[2015-12-14 21:00] ilikeorangutans commented on #99
@cshold Tried to replicate the issue but was unable to; added the file in question to my theme, started watch and modified it. Compared md5 sums from file from before and after and they seem ok.

Can you still replicate this with the latest version?

[2015-12-14 21:03] cshold commented on #99
This was fixed in either v3.0.0 or v3.0.1 I believe (can't find the PR, but remember not being annoyed by the issue anymore). Haven't had the issue since so consider it resolved.

[2015-12-14 21:03] #99 closed

[2015-12-14 21:03] cshold commented on #99
Found it - https://github.com/Shopify/themekit/pull/112

[2015-12-15 03:38] NathanPJF commented on #117
For adventures who make it this far, the answer: `theme replace --env=staging [file]`

[2015-12-17 18:22] NathanPJF opened #126 "ignore_files not respected with download command"
I ran `theme download --env=tpa-dec01` with the following config.yml file:

[code]

I expected it to not download any png or jpg files, but it downloaded all of them.  Am I missing something, or is this a bug?

[2015-12-17 18:23] NathanPJF commented on #126
This also downloaded the file at `config/settings_data.json`

[2015-12-17 18:30] csaunders commented on #126
which version are you running? (`theme version`)

[2015-12-17 18:33] NathanPJF commented on #126
Theme Kit v0.3.4

[2015-12-17 18:33] NathanPJF commented on #126
Sorry - I should have specified before

[2015-12-17 22:23] zachharkey commented on #104
At the very least, it would be nice to update the [docs](http://themekit.cat/docs/) to make it clear that "access_token" means Password, not API Key.

[2015-12-21 19:34] chrisbutcher opened #128 "2016 Planning"
- Error handling (more value to work on this in the short-term)
  - [x] Differentiate transient errors (500 etc) vs. abort-worthy errors (401 etc.).
    - If credentials are bad, do not report 401 on all failed requests, since all will fail
    - Methods should use builtin error return types
    - Example: https://golang.org/pkg/net/http/#pkg-variables
  - [x] Better reporting for invalid/deprecat

[2015-12-21 23:19] anaralvarado commented on #119
Yes, it's still happening. I'm on Theme Kit v0.3.4 ... Searched for a removal method to reinstall but didn't find any documentation on it.

[2015-12-22 16:07] ilikeorangutans commented on #119
@anaralvarado Did you set up a new configuration file with a valid access token? I've been able to get the same error when not setting an access token.

[2015-12-22 18:02] ilikeorangutans commented on #128
To add to this, better checking for credentials in general and configuration validation. I think #119 is caused by missing/invalid credentials.

[2015-12-23 18:38] #119 closed

[2016-01-04 18:20] chrisbutcher commented on #128
@ilikeorangutans I've added some linked and suggestions with initials above.

[2016-01-07 17:03] ilikeorangutans commented on #102
Is customers the only directory that has a child directory?

[2016-01-07 17:05] cshold commented on #102
Yes it is

[2016-01-07 17:56] ilikeorangutans commented on #102
Ok, after spending a good hour writing detailed tests for the replace command and finding nothing, I finally realized that the issue is elsewhere! Turns out `ThemeClient.LocalAssets()` uses a double star glob `**/*` to find files, but that is [currently unsupported](https://github.com/golang/go/issues/11862) in go.

With that in mind I can finally come up with a solution for this!

[2016-01-07 21:39] stevebosworth commented on #102
Works for me!!
![ship pit](https://cloud.githubusercontent.com/assets/1938373/12183495/25393432-b55d-11e5-8906-587509299265.png)

[2016-01-07 21:52] #102 closed

[2016-01-11 06:52] anaralvarado commented on #119
Finally got it to work. It was the config file. Thank you!

[2016-01-21 16:59] NathanPJF opened #136 "error message 429 - too many requests with `replace`"
When running `theme replace` for themes that have many files, it's common to see a 429 error that says something like:

[code]

A couple things:

1. The error message occurs when there are too many requests.  I think it would be beneficial if the error message said that instead of the "cannot unmarshal string into Go" message.

The user has sent too many requests in a given amount of time. Intende

[2016-01-24 21:07] Powiee commented on #126
I am also running into the same issue. "theme download config/settings.html" this command also download the file when it should have been ignored.

I tried the upload function and it is also uploading the files in the config folder. It isn't uploading the git stuff so that is good. "theme upload config/settings.html" this command is working correct and ignoring the file.

Windows 7 theme.exe
Theme

[2016-01-25 21:57] NathanPJF commented on #136
May be similar to #74

cc @ilikeorangutans @chrisbutcher

[2016-01-26 13:38] ilikeorangutans commented on #136
@NathanPJF these are actually really good suggestions! I will look into that later this week!

[2016-02-01 14:18] csaunders opened #137 "themekit.cat needs ownership transferred over to Shopify"
@chrisbutcher @ilikeorangutans could one of you get in contact with someone on the operations team so I can get the domain transferred over to Shopify? It's going to renew on the 26th of February. I won't let the renewal lapse, but it would be good if I didn't have to worry about paying for it :)

[2016-02-01 15:05] chrisbutcher commented on #137
Sure thing!

[2016-02-01 16:40] mpiotrowicz commented on #137
FYI @fredryk @cshold @m-ux

[2016-02-02 22:03] ilikeorangutans opened #138 "Watch fails when ignore_files contains parent directory name"
Debugged this with @t-kelly and figured out that if ignore_files contains a directory name that can be found in the projects directory, it will ignore everything. For example, the project lives under ~/src/theme and config.yml contains:

[code]

then the filewatcher ignores all files resulting in an empty watch list.

Two tasks at hand:
- Have themekit report that you're watching an empty file lis

[2016-02-02 22:16] chrisbutcher commented on #138
It might be wise to adopt a bit of gitignore's syntax, which considers files prefixed with `/` to be folders, and otherwise files.

[2016-02-03 16:34] ilikeorangutans commented on #138
I think it's probably not wrong, but confusing and unproductive. The expectation of @t-kelly (and mine) was that the filters apply only to what is _within_ the project directory. I don't think we'll need a filter that applies to the entire project directory itself; that seems... counterproductive. :)

So while it's not wrong, at least we should give the users a helpful hint, and at best make it wo

[2016-02-03 18:33] chrisbutcher commented on #138
Sounds good to me

[2016-02-08 14:57] t-kelly commented on #138
Just saw this! :+1:

[2016-02-09 18:38] ilikeorangutans opened #140 "Mysterious crash when watching"
Got a mysterious crash when watching via @stevebosworth !

[code]

[2016-02-10 21:30] ilikeorangutans commented on #140
Did some preliminary digging here. Turns out the way [event_filter.go](event_filter.go) works is that it attempts to parse all `ignore_files` settings into regexps. The ones that cannot be parsed into a regex will be parsed into a glob. Now, turns out that this glob doesn't like empty string inputs which makes it crash.

Interesting questions to investigate further are
 1. why is the input empty?

[2016-02-12 18:49] schaeken commented on #104
Ran into this issue yesterday. There is no access_token on the private app page

![https://screenshot.click/12-46-6ip0d-104qj.jpg](https://screenshot.click/12-46-6ip0d-104qj.jpg)

Something needs to change somewhere, instead of hitting a wall and not knowing what went wrong.

[2016-02-12 21:19] stevebosworth commented on #104
Can we accept either `password` or `access_token` so this isn't a breaking change?

[2016-02-18 19:11] chrisbutcher opened #143 "Evaluate install process / ability to package themekit client with Gulp/Node packages"

[2016-02-21 09:28] playmakers commented on #104
:+1:  for updating docs, just to mention `'access_token' is NOT API Key` would have helped me a lot...

[2016-02-23 22:52] chrisbutcher commented on #104
As a first step, I'm going to switch the font-family specified in the docs, since the one used (Muli) won't exist for most users, and the fallback sans-serif font don't seem to display <strong> tags properly. The docs will now look like this:
![image](https://cloud.githubusercontent.com/assets/1916444/13269504/0562030a-da56-11e5-8c7a-506cf63d3cca.png)

As for adding a comment to config-sample.yml,

[2016-02-23 23:04] #140 closed

[2016-02-25 16:06] chrisbutcher opened #146 "Improve themekit installation workflow on all platforms."
Promising results so far,  seen in https://github.com/Shopify/canvas/pull/262

Other options available for all platforms:
- [x]  Improve curl / pipe installation script (should be installed in a more appropriate location.)
- [x] HomeBrew formulae https://github.com/Shopify/homebrew-shopify/pull/34
- [ ] Linux apt package
- [x] [NSIS](https://en.wikipedia.org/wiki/Nullsoft_Scriptable_Install_System

[2016-03-03 14:46] webdevmike opened #149 "No configuration file created in Windows 7"
I've tried running theme configure in the console (in the directory where I have Theme Kit installed) and it does not create a config.yml file.

I have tried many different ways to pass the access token and store domain as arguments and I either get a syntax error or it says nothing at all. What is the correct syntax? I am running the latest version (0.3.5)

Also, I just downloaded the windows-amd

[2016-03-04 19:20] webdevmike commented on #149
Found the solution. I needed to run cmd as Administrator.

[2016-03-04 19:21] #149 closed

[2016-03-08 19:28] chrisbutcher commented on #146
Example package.json "scripts" pre-post/install script https://github.com/milani/appjs/blob/master/package.json#L36
https://github.com/milani/appjs/blob/master/cli/postinstall.js

[2016-03-09 16:29] chrisbutcher commented on #104
Fixed in 0.3.6

[2016-03-09 16:29] #104 closed

[2016-03-22 03:01] stewartknapman commented on #97
I'm assuming this is the same or similar issue that I'm having. `theme watch` jumps between remove and update: https://monosnap.com/file/vbPbhmWCYQchV6hklYPHjH6SC9CT12

version: Theme Kit v0.3.6

[2016-03-30 20:37] #87 closed

[2016-04-26 15:41] tyler-king opened #156 "-allenvs fails on watch, and -env fails on upload"
It seems using `development` is required? We have a few sites which are clones of eachother execpt theres liquid to to detect the Shopify domain and hide/show different features. We've named the environment `ca`, `us` and `int`.

[code]

[code]

Is this a bug or `development` required?

[2016-05-02 17:02] bhekuwenza commented on #97
Have this issue too. After troubleshooting with my colleagues, it seems to only do this when using 'textmate' as the editor on OSX. Brackets and TextEdit, seem to work fine. I can't speak for other editors like Sublime etc. We just pinned the issue to Textmate's saving. Which is strange because scss files are fine when saved and upload succesfully.

[2016-05-02 18:39] macdonaldr93 opened #157 "theme_id as string defaults to live theme"
This one was a bit of a scary one haha. We wrote a CLI tool to help us work faster. While converting JSON to YML, the `theme_id` wasn't parsed as an integer which caused ThemeKit to default to the live theme.

[code]

[2016-05-02 19:35] jared83 opened #158 "Theme kit fails to watch on Windows 7 64bit"
I followed installation instructions. The themekit even updated to the newest version, but whenever I run `theme watch` it gives me this error:

[code]

I have a machine running Win 8.1 64bit, and had no problems with the themekit.

[2016-05-02 20:00] jared83 commented on #158
Sorry, never mind. It turned out that I was running the `theme watch` command in a wrong directory (the root directory of my project, where I kept all my build scripts). My shopify folders/theme was one level deeper in a 'shopify' directory about which I completely forgot. Silly me. However, it would be nice if the theme kit could give a friendly error message, say "no shopify theme found in this

[2016-05-04 20:40] Moondrop opened #159 "Theme watch does not delete files"
Hello, the `theme watch` command does not remove files from Shopify's server if they are deleted locally. For example, if I delete an image in `/assets` it does not process. No problems with adding/uploading files however.

I had this exact same problem on the shopify_theme gem as well: https://github.com/Shopify/shopify_theme/issues/200

[2016-05-12 20:49] ilikeorangutans commented on #158
Yah, It's true; that stacktrace is not exactly useful.

[2016-05-13 21:30] ilikeorangutans commented on #158
@jared83 Just trying to reproduce (on Mac OS X) this error and I'm not sure I fully understand how you got this error. So you started `theme watch` in a directory _above_ the actual directory? For example, `~/parent` vs `~/parent/shopify`? Is there a `config.yml` in that directory? When I try to run `theme watch` in a directory outside of that, I get `2016/05/13 17:29:07 configuration error: open

[2016-05-23 08:41] patrick-evolabs commented on #156
I was having the same error with theme replace. After adding development it started working but theme watch -allenvs now returns :
' ' is not a valid environment. The following environments are available within config.yml:
 - development
 - france
 - worldwide
 - taiwan

[2016-05-24 16:23] jtgrenz commented on #157
for safety sake, it might be a good idea to not default to the published live theme if the id is left blank or is a non-integer. If you don't know what you are doing, or you are working on integrating another tool like above, you can replace a published theme unintentionally with no way to restore it. ThemeKit should probably parse a string for theme_id and it should probably take an explicit valu

[2016-05-24 16:59] scottbaggett opened #160 "Fonts are being uploaded as ascii files and being corrupted when using watch and upload."
When I put any of my fonts inside the assets folder they are not uploaded as binary which causes them to not work inside Chrome & Firefox. Is there any way to configure binary file patterns?

If I upload these directly to my own S3 bucket as binary files they work, but if I set them as ascii I get the exact same error and after some digging around it does appear that this is an ascii upload error.

[2016-05-26 08:57] ndrewcowley commented on #156
+1 to this. If anyone knows of a fix, please share.

[2016-06-11 19:17] onedanshow commented on #146
+1 for Brew formulae

[2016-06-14 02:31] rjocoleman opened #161 "Interpolation of secrets into config.yml"
Nice project, thanks!

I'd like to commit my `config.yml` to my theme's repo but I don't want to store my API secrets in repo.
Is there a current best practise for this?

If not how do you feel about a PR for a method to interpolate these?

I can think of a few quick methods to do this:
1. via flags `theme watch --notify=/tmp/shopify.update --api-key=foo --password=bar` (not very user friendly)
2.

[2016-06-22 17:56] brettchalupa commented on #146
I'd like to take on the Homebrew formulae if no one else is already. 👍

[2016-06-22 22:28] brettchalupa commented on #128
In regards to:

It seems like https://github.com/spf13/cobra is another option worth evaluating. I haven't used Cobra, but it seems like some [popular CLIs use it](https://github.com/spf13/cobra/blob/master/README.md). I have used cli in the past and had a positive experience, but I thought cobra would be worth sharing as well. 😁

[2016-06-23 15:20] ilikeorangutans commented on #128
I've heard of cobra but haven't had a chance to try it. I'm game either way!

[2016-07-01 07:29] mhulse opened #162 "Temp(?) file created with tilde (~) at end, throwing error on watch"
First, thanks for this great tool!

Theme Kit v0.3.6

[code]

There is no `gift_card.liquid~` from what I can see.

I'm new, so, maybe this is a feature (or, more likely, I’m doing it wrong)?

[2016-07-01 14:32] brettchalupa commented on #162
@mhulse Files that end in `~` are usually temporary files, potentially created by a text editor. You can configure themekit to ignore those files so that they do not attempt to get uploaded to the shop. Here is an example config:

[code]

The `ignore_files` option is set to ignore swap files and temporary editor files, like ones that end with `~`.

[2016-07-01 14:51] mhulse commented on #162
Agh, it's so obvious now that you point it out!

:: slaps self on forehead ::

For those reading, i'm using Atom on Mac. I actually had no idea atom created temp files like that.

Anywy, thanks so much for the help @brettchalupa i really appreciate it! :)

[2016-07-01 14:51] #162 closed

[2016-07-12 20:10] chryton opened #163 "[Doc] Update Config File Name"
Here: http://themekit.cat/docs/#common-args

`conf.yml` should be `config.yml`. I noticed that this is also the only mention of the actual file itself and when porting my file over from the Ruby Gem, it makes it appear I need to rename the file as well as rejigger the contents.

[2016-07-18 10:21] heymynameisrob commented on #100
Also getting a similar error.
[code]

[2016-07-19 17:19] m-ux commented on #157
@chrisbutcher @ilikeorangutans @Thibaut @davidcornu

I think this is a pretty critical issue.  Is ThemeKit the right place to resolve this, or does this need to be handled on the OSE side?

[2016-07-19 19:02] jtgrenz commented on #157
@m-ux I'm thinking this is definitely a themeKit issue. I can't think of a way to alter this on the on the OSE without locking the published theme from API modifications which I don't think is the right  action. Working on the live theme is great in a dev shop. Although, I would LOVE the _option_ to lock a theme from any sort of updates, or updates from a  single source, thats a whole different is

[2016-07-19 19:05] jtgrenz commented on #157
scratch that, it might not be a bad idea to globally lock the live theme if the store front password is disabled. That would force all shops to either be in development mode (password up), or to use an unpublished theme for API alterations, a very good practice to encourage, if not enforce.

ThemeKit would still benefit from throwing an error though all the same, even if Shopify could prevent the

[2016-07-21 03:58] m-ux commented on #157
Okay, so I think we're going to wrap this with a warning on the slate end for now, and in the near future build in a slate task to create a new theme on the selected store using the [theme create endpoint].(https://help.shopify.com/api/reference/theme#create)

[2016-07-21 18:03] ilikeorangutans commented on #163
Fixed! Thanks, @chryton !

[2016-07-21 18:03] #163 closed

[2016-07-21 18:25] ilikeorangutans commented on #160
@scottbaggett Themekit attempts to guess the content type of all files using Go's [`http.DetectContentType`](https://golang.org/pkg/net/http/#DetectContentType) which seems to work fairly accurately.

I've tried to reproduce the error locally but all font files I fed to Themekit were recognized as `application/octet-stream`.

Can you help me reproduce this by shedding a little more light on how yo

[2016-07-21 18:46] scottbaggett commented on #160
Thanks for getting back to me. I will dig in a bit more and get back to you!

[2016-07-25 13:01] illarionvk opened #165 "JSON content saved as a single line"
When using `./theme download` command to download all theme files, JSON file content is saved as a single line instead of pretty output. If I download it with a single file command, the JSON is saved correctly:

[code]

The issue occurs with settings and locale files, i.e. all files with `.json` extension. I'm running themekit 0.3.6 on a Mac.

![themekit-json-issue](https://cloud.githubusercontent

[2016-07-27 13:53] ilikeorangutans commented on #165
Without having looked into it, could you check the line breaks in this file?

[2016-07-27 15:31] illarionvk commented on #165
`./theme download` outputs a single line JSON, no line breaks. Individual file download mode outputs indented JSON with Unix (LF) line breaks.

[2016-07-28 17:52] ilikeorangutans commented on #165
@illarionvk I just downloaded a few files (.json, .liquid) using Themekit 0.3.6 on Mac OS X and linebreaks look fine. Do you see anything I'm missing or need to do differently to reproduce this?

[2016-07-28 20:28] chryton commented on #165
@ilikeorangutans @illarionvk I was just able to recreate this via using `./theme download` to batch download the theme. When downloading via `./theme download config/settings_data.json`, it renders out with the correct line breaks. I can offer a screencast if it'd be helpful

If it matters, this was an issue with the theme gem as well.

[2016-07-28 20:31] ilikeorangutans commented on #165
Hmmm. Is it possible that the linebreaks are changed serverside?

[2016-07-28 20:32] chryton commented on #157
@jtgrenz by lock do you mean locking only write access or read and write? I can see the reasoning to block write access but not reasoning to block read.

[2016-07-28 20:51] jtgrenz commented on #157
@chryton just write. There's never any harm in anyone seeing code thats live or being worked. We already have the ability to bar apps and staff from the themes section entirely, I don't think it needs to be more granular than that.

[2016-07-28 20:59] chryton opened #166 "Feature Request: `--v` To view current installed version"
## Reasoning
Most command line tools allow you to see what version of the tool you are running and this can help triage a multitude of issues before elevating the problem.

## Use Cases
- Troubleshooting/Verifying ThemeKit bugs
- User checking whether or not they are up to date
- Troubleshooting development environment issues (machines running different versions)
- Verify installed version when cr

[2016-07-28 21:01] chryton commented on #157
@jtgrenz Just checking; we sync down to our locals from the live theme often so that would have been a big problem for keeping everything in sync. Thanks for the clarification!

[2016-07-28 23:06] crissmancd opened #167 "Server responded with HTTP 403"
I'm just trying to get this set up. I have Theme Kit installed properly. I've created the config.yml file and configured it correctly. When I try to download the theme I get the following error:

Server responded with HTTP 403; please check your credentials.

Here's the config.yml file (hiding the actual values)

development:
  access_token: ###
  password: ###
  store: ###
  theme_id: 141131462

[2016-07-29 02:08] #167 closed

[2016-07-29 09:07] illarionvk commented on #165
Thanks for the confirmation, @chryton.

@ilikeorangutans The issue with line breaks occurs only when you download the entire theme with `./theme download` command and only for JSON files. I guess bulk download mode and individual download mode use different functions. Could you check?

[2016-07-29 12:22] csaunders commented on #166
You can get version information by simply typing `theme version` which gives you the following output:

[code]

Failing to provide a subcommand or by passing in `-h` or `--help` when running the program lists all the available commands, one of which is `version`

[code]

Sounds like this is already a solved problem, but I'll let those cool cats at Shopify like @chrisbutcher, @burke and @ilikeorang

[2016-07-29 13:58] illarionvk commented on #165
I use this workaround for now:

[code]

The command downloads the entire theme first, then JSON files get downloaded using the individual download command

[2016-07-29 15:20] chryton commented on #166
@csaunders, @chrisbutcher, @burke and @ilikeorangutans: I do now see version under the available commands though have encountered another problem: the lists of commands are displayed in different orders per flag *and* each time you run them the order is different.

Examples:
http://i.rocktc.de/1affA/5c2qVKlp
http://i.rocktc.de/1jvIo/4LZfhG2o

I'd expect that list to be consistent (alphabetical wou

[2016-08-01 16:27] chrisbutcher commented on #157
Hey all. I'm just back from vacation this week, but I'll do a patch along the lines of @jtgrenz's suggestion (error out if the theme_id is non-integer).

Thanks Ryan for the bug report and everyone for their input!

[2016-08-02 13:30] tyler-king commented on #156
Ive not done any Go coding but looking into the source and playing with it, it seems its just not built in right now.

It seems there needs to be a loop [here](https://github.com/Shopify/themekit/blob/master/cmd/theme/main.go#L212) to create an set of theme clients for [this function to use](https://github.com/Shopify/themekit/blob/master/commands/watch.go#L12) because [isSingleEnvironment](https:

[2016-08-03 15:16] chrisbutcher commented on #157
@macdonaldr93 @m-ux

I have a branch that fixes this to ensure that `theme_id`, when specified as a string (i.e. an integer wrapped in quotes) that all is fine. Two other small points:
See http://themekit.cat/docs/#config-variables

Note that defaulting to the live, production theme is currently a default behaviour:
`theme_id: The ID of the theme to upload changes to. Beware that if this is blank

[2016-08-03 17:19] macdonaldr93 commented on #157
@chrisbutcher that's awesome about the parsing. As for the default behaviour, I like your first solution. Without reading the docs, I expected that `theme_id` was a required field and that it would throw an error if I didn't specify one. During `theme configure`, it would be amazing if it prompted for domain, api key, and then fetched the possible theme ids with the theme title for the user to sel

[2016-08-03 17:51] chrisbutcher commented on #157
@macdonaldr93 re: the last question. If the value cannot be parsed straightforwardly as a 64 bit integer, Theme Kit will assume you haven't entered a theme_id. How it behaves if one isn't specified or is invalid will be the same behaviour: this behaviour, I think should be to use the provided required fields `domain` and `password/access_token` (they are interchangeable) to fetch and list the them

[2016-08-03 18:16] stevebosworth commented on #157
@chrisbutcher this sounds great! I like the new default behaviour.  When we grab the theme ids from the store, can we get any other identifying information?  Theme ids are pretty hard to grok if your new to the shopify platform.  IIRC you can only find the theme id in the admin by looking at the URL in the Theme Editor?

[2016-08-03 18:26] macdonaldr93 commented on #157
`/admin/themes.json` returns `name`, so we should be able to pull that?

[2016-08-03 18:42] chrisbutcher commented on #157
Yeah I was thinking of something like this:

[code]

[2016-08-03 18:50] macdonaldr93 commented on #157
Coolio, and just to confirm that would only be on `theme configure`? The other commands that interact with `config.yml` (replace, upload, etc.) would throw an error?

[2016-08-03 18:52] chrisbutcher commented on #157
Yeah the prompt should just be on `theme configure` and running other commands should otherwise just fail with a message

[2016-08-03 20:46] jonnycobra opened #168 "Theme watch requires 2 saves to update"
When using `theme watch` I have to save a theme file twice. The first save removes it from the server, the second does the update. Is this a bug or an issue with my config? Using v0.3.6

[2016-08-04 00:20] renanserrano opened #169 "Download for MacOs its the wrong file"
Its downloading an AMD64 exec file

[2016-08-05 19:23] matharoo commented on #79
I just started developing theme for shopify based on Timber and I encountered this issue as well . For me its happening only if I use themekit on Ubuntu. It works fine without any issues on Windows machine.

So themekit for linux needs to be fixed.

[2016-08-09 05:41] adamwooding commented on #117
:+1:
I just spent an hour trying to figure out how to upload to different environments & I just found this thread. Thank you SO much @NathanPJF for posting the correct way to do it.  I agree that this should be added to the documentation :)

[2016-08-11 15:00] m-ux opened #171 "including new section/block files when running `theme replace` throws error"
When working with our new sections model, we're getting the following error when trying to deploy changes to a theme using a full replace:

[code]

The theory is that `settings_data.json` is being uploaded to the server **before** the blocks that are referenced therein.  Since the files being referenced don't exist on the server yet, it throws an error.

In order to fix this, I think we need to en

[2016-08-12 18:29] macdonaldr93 commented on #156
@tyler-king for the env option, it should work if you put the environment before the list of files:

`theme upload -env=us assets/style.css.liquid assets/scripts.js.liquid`

Still a bug, but at least you can workaround until the fix.

[2016-08-12 20:05] tyler-king commented on #156
Ah ok, but what about watch? This seems to not work for watch.

Sent from my iPhone

On Aug 12, 2016, at 3:59 PM, Ryan Macdonald <notifications@github.com<mailto:notifications@github.com>> wrote:

@tyler-king<https://github.com/tyler-king> for the env option, it should work if you put the environment before the list of files:

theme upload -env=us assets/style.css.liquid assets/scripts.js.liquid

[2016-08-13 08:03] gabormeszoly commented on #167
@crissmancd hi, what is the solution?

[2016-08-14 00:04] ewilliam commented on #167
@crissmancd ran into the same issue - what'd you do to fix?

[2016-08-14 17:29] canardos opened #172 "replace command hangs and does nothing"
As mentioned by **cshold** in issue https://github.com/Shopify/themekit/issues/97, `theme replace` hangs and doesn't do anything at all.

I'm running on Win7x64. Cloned skeleton theme into local folder, created config.yml with standard settings (using password) and ran command.

[2016-08-15 20:21] macdonaldr93 commented on #156
`theme watch -env=staging`, for example, seems to work fine for me. There's still a bug with `-allenvs`.

[2016-08-17 15:34] scottzirkel commented on #167
In your Private App, change the permissions of "Theme templates and theme assets" to Read & Write. Should download after that.

[2016-08-17 15:37] gabormeszoly commented on #167
I'll try, thanks @scottzirkel

[2016-08-17 15:41] gabormeszoly commented on #167
its working, thanks @scottzirkel

[2016-08-17 15:54] #157 closed

[2016-08-17 17:29] chryton commented on #166
@chrisbutcher, @burke and @ilikeorangutans If you'd like, I can close this issue and open a new one for the inconsistent returns for the help commands so that it is a bit more clear as to what we are trying to fix.

[2016-08-17 19:34] frehner opened #174 "0.4.0 errors on watch and replace"
Was on 0.3.6, upgraded to 0.4.0, and now I'm getting a ton of the following errors when using both the watch and replace methods.

OS: OSX

`[500]Could not perform Update to templates/article.liquid at whiskware.myshopify.com json: cannot unmarshal string into Go value of type themekit.AssetError`

It doesn't happen to all files, just some of them. They all have that same error message.

[2016-08-17 19:39] frehner commented on #174
Hmm, I just downgraded to 0.3.6 and I get the same errors, actually. So this may not be related to 0.4.0. Less than one hour ago it was working without issues on 0.3.6, so I'm not sure what's happening.

[2016-08-17 19:42] frehner commented on #174
Looks to be a duplicate of #100 from what I can tell, so I'll close this issue and watch that one.

[2016-08-17 19:42] #174 closed

[2016-08-17 19:51] frehner commented on #100
Just starting receiving this error suddenly (after several months of development without any issues or errors). The only thing that changed was that I upgraded to 0.4.0 from 0.3.6, and suddenly was getting the error in both my watch and replace commands.

I tried to downgrade to 0.3.6 to see if it would fix it, but 0.3.6 now suddenly has the error as well.

OS: OSX.

I'll try to get into mitmproxy

[2016-08-17 20:04] cshold opened #175 "theme_id validates for each environment when it doesn't need to"
With the latest 0.4.0 release, `theme_id` cannot be blank. `live` or a valid ID are the only options.

The validation seems too strong though. If I run `theme replace` I expect it to replace the default `development` shop, which it does, unless there is another environment with an invalid `theme_id`.

`theme replace` and `theme replace --env=development" fails with this config:
[code]

Error messa

[2016-08-17 20:12] chrisbutcher opened #176 "theme upload does nothing, after refactor PR, when given no filename args"
After https://github.com/Shopify/themekit/commit/11f0837ecc0eb42578ed9cc307e8cd79b6b4793f

Running `theme upload` does nothing, and prints no error message

![image](https://cloud.githubusercontent.com/assets/1916444/17751517/703cd726-6495-11e6-924a-08b44c57d644.png)

cc: @cshold

[2016-08-17 20:20] chryton commented on #176
Can confirm this is happening on my local as well.

[2016-08-17 20:22] chryton opened #177 "Theme `upload templates/*` or `templates/**/*` Does Not Upload Customers Folder"
I've run a few releases off of the previous version without this problem. Returns with error `LoadAsset: File is a directory`.

I can upload the folder using `theme upload --env=staging templates/*/*` but that seems counterintuitive.

cc: @cshold

[2016-08-17 20:37] emiliobool commented on #165
I was trying to figure out a different issue so I set mitmproxy, and I got one line locale json files, so I removed the proxy and it was still happening, so just to make sure I wasn't going crazy I looked at older backups from a few hours ago and the files where normal, somehow the issue randomly appeared

no idea what triggers it, specially since it didn't happen just a few hours ago

illarionvk

[2016-08-17 20:46] emiliobool commented on #165
actually I have a vague idea on what could cause it, I think it started to happen after I used the replace command, and that probably triggers an update event on shopify side and then it formats the json files, but as stated above somehow bulk and individual differ somehow so that's probably it

[2016-08-17 20:49] chrisbutcher commented on #176
Found the issue. This function should not have been removed in a previous attempt to refactor https://github.com/Shopify/themekit/blob/e5b4b2a5ca8bfab146a6283d934d142174a2b46a/commands/upload.go#L59

[2016-08-17 21:13] #176 closed

[2016-08-17 21:19] chrisbutcher commented on #166
That'd be great, thanks @chryton & @csaunders !

[2016-08-17 22:00] #166 closed

[2016-08-17 22:05] chryton opened #179 "Command Operations List Differs Every Time Called"
## Issue Case

The list of available operations/commands are displayed in different orders each time they are displayed.

## Examples
http://i.rocktc.de/1affA/5c2qVKlp
http://i.rocktc.de/1jvIo/4LZfhG2o

## Steps To Reproduce

1. run `theme` with no parameters; note returned operations order
1. run `theme` with no parameters again; note returned operations order
1. run `theme -h`; note returned ope

[2016-08-17 22:06] chryton commented on #179
This was found during discussion about #166.

cc: @csaunders, @chrisbutcher

[2016-08-18 07:47] illarionvk commented on #165
Shopify JSON files' content is prettified (indented) in API responses, you can see it if you try to fetch the `settings_schema.json` via API in the browser:

[code]

The one line JSON bug occurs on ThemeKit side and only when the bulk download command is used. `shopify_theme` Ruby gem doesn't have this issue.

![screen shot 2016-08-18 at 09 41 15](https://cloud.githubusercontent.com/assets/5012724

[2016-08-18 13:09] cshold commented on #177
@chrisbutcher @m-ux Thoughts on this? I agree, `theme upload templates/*` I would think would upload everything, not fail on folders.

[2016-08-18 14:27] Jorybraun commented on #117
Thank you !!!!

[2016-08-18 16:02] chrisbutcher commented on #177
@chryton Have you tried `theme upload templates/**/*` ?
I believe this is the correct glob syntax to mean all subfolders (**) and files (*)

[2016-08-18 16:19] jeromegv commented on #175
Same issue here.

[2016-08-18 16:30] n-kort opened #180 "upload does not print operation status of last file"
Running `upload <file> [<file2> ...]` does not give any feedback about the last file, but seems to succeed regardless. When uploading a single file no success/error is printed at all.

Version v0.4.2 on El Capitan (but same thing on earlier version I had installed, probably 0.3.x).

[2016-08-18 16:58] chrisbutcher commented on #171
@m-ux Can you confirm that the ordering of what is uploaded is the problem? i.e. can you do you individual file/folder uploads to test the scenario of sending for example `settings_data.json` last?

[2016-08-18 17:55] markmakes commented on #172
I'm getting the same running ElCap on Mac. Another developer and I have the same config. His works, mine doesn't.

[2016-08-18 18:10] chryton commented on #177
@chrisbutcher Same issue: http://i.rocktc.de/15dxn/BGX4hsBW

[2016-08-18 18:12] chryton commented on #177
Weird thing is that `theme replace` _seems_ to do this correctly but that is a much slower process than upload.

[2016-08-18 22:46] adamwooding opened #182 "html showing on bottom of docs page"
Hi all,
Just noticed that the following html is showing on the bottom of the http://themekit.cat/docs/ page:

`</your></id></your>`

Not a big deal just wanted to let you know :)

[2016-08-19 04:39] neilfish opened #183 "Theme Kit Update Command Prompt"
Hello,

After I last entered "Theme Watch" in my command prompt in order to sync my API with my Shopify store, I got a message that there has been an update for Theme Kit. It says I need to type "Theme Update" in order to update, however, I can't type anything in my command prompt after this message! It's basically frozen, just with a blinking cursor. How can I get around this to start using my AP

[2016-08-19 10:31] Antman261 commented on #180
I've been experiencing this too, it's driving me nuts! Especially when I was trying endlessly to upload a single file and thinking it was failing silently...

[2016-08-19 15:01] chryton commented on #183
@neilfish You need to exit out of theme watch to update. What platform are you on? If you are using Terminal on a Mac you can use `ctrl + c` to exit out and then run `theme update` and after it is complete you can turn `theme watch` back on

[2016-08-19 16:54] markmakes commented on #172
Re-installing doesn't seem to fix anything either. Just FYI

[2016-08-20 01:00] neilfish commented on #183
@chryton Thanks! I got it to update. However, now I'm getting an error message in the command prompt after I type "Theme Watch" that says the following:

_could not load environment "development": missing theme_id. Error: "strconv.parseint: parsing "": Invalid syntax"_

Any tips?

Thanks a bunch,

Neil

[2016-08-22 15:31] chryton commented on #183
@neilfish there was a change with the newest version of ThemeKit that fixed an issue with Theme IDs (you can read about it here: https://github.com/Shopify/themekit/issues/157) so I would double check that you are using the correct Theme ID and have the config file setup with the correct syntax.

Beyond that, I am not sure where to look. I'm just here trying to fix some other issues. :)

[2016-08-22 15:45] neilfish commented on #183
Thanks Chryton. I updated my YML file with the theme ID and got it working. All good!

[2016-08-22 19:50] #180 closed

[2016-08-23 14:34] chrisbutcher commented on #172
@canardos @markmakes Thanks for reporting this. Can you run `theme version` and let us know what version you're running?

[2016-08-23 15:10] markmakes commented on #172
Theme Kit v0.4.2

Thanks for looking into this

[2016-08-23 20:16] Zlerp opened #186 "theme download not working"
I did the configure with my API key/password/site url, it created the config.yml file with the correct information.

but when i type "theme download" It fails quietly with nothing new created.

Any ides how to fix this issue?

Thanks,
Zlerp

[2016-08-24 13:53] jamieowen commented on #119
I had similar issues..

It wasn't immediately obvious what was the problem. Some descriptive error messages would be handy on this tool.. Saves people bashing their heads ;)

I had different issues depending on permission settings in the Private App ( the passwords in config.yml were fine. )

Just having read access allowed for 'theme download' commands. But running 'theme bootstrap' failed. ( sho

[2016-08-24 21:27] m-ux commented on #171
so @cshold has done what you've suggested indirectly by uploading content via `watch` task vs full `deploy`.

We can go through a more direct test tomorrow though to confirm (will update shortly).

[2016-08-25 19:53] jvillalobos22 commented on #186
I'm having the same issue. Just installed ThemeKit for the first time and can't get the `theme download ` command to work properly. It just executes quietly and nothing is added to my current directory. At this point, I have no way of developing this theme locally. Any help is appreciated.

[2016-08-26 21:34] pirate-matt commented on #186
Had the same described issue.  Took about 3-4 times of running the command for it to work successfully, but it **did eventually work.**

_@Zlerp & @jvillalobos22  have you made any progress with getting it to work?  Maybe try running it a few times._

Recently updated my version of themekit to :Theme Kit v0.4.2 (not sure if this is related).  Anyone know of any logs or anything I could look at to

[2016-08-29 14:57] markmakes commented on #61
`source theme` just returns a lot of parse errors, is there a new way to uninstall?

[2016-08-29 17:56] jvillalobos22 commented on #186
@pirate-matt I've tried running the command multiple times with no success. Most of the time it just runs with no error and nothing happens but sometimes it will actually output the error
```Server responded with HTTP 403; please check your credentials.```
I've double checked my credentials and I have everything thats required when running the configure command. Not sure what is causing the server

[2016-08-29 22:35] pirate-matt commented on #186
@jvillalobos22

Something else to try: make your `config.yml` looks like this (this is more spartan than what the configure command gives you).  _(I've removed actual data but kept in some numbers and alphas so you have an accurate idea of what needs to be there.)_

[code]

and make sure the the password value is the private app password, not your personal user password.  (To get a private app pas

[2016-08-31 17:35] canardos commented on #172
Theme Kit v0.3.6, which was the latest at the time although it seems there was a flurry of releases two weeks ago.

[2016-09-07 14:36] mhgbrown commented on #186
@pirate-matt's response got me going. I was getting ```unexpected end of JSON input``` with all the configuration parameters in the [example configuration](http://themekit.cat/docs/#config-example).  The specific configuration that was producing the error was ```proxy: http://localhost:8080```. I removed that and 👌

[2016-09-07 22:17] kayluhb commented on #175
I have the same issue when trying to configure a new theme following the Reame.

    $ theme configure api_key password store_domain
    missing theme_id. Error: "strconv.ParseInt: parsing "": invalid syntax"

[2016-09-08 20:50] jvillalobos22 commented on #186
Ok so I finally was able to get it working. Turns out the issue didn't lie in Themekit's configuration but rather with Shopify's permissions. After creating the private app, you must go into the App's settings and adjust the permissions to allow 'Read and write access' to Theme templates and theme assets as these were set to 'no access' by default. The instructions for Themekit are outdated all ov

[2016-09-08 21:32] thisislawatts commented on #186
@jvillalobos22 I think the permissions settings for Private Apps is a fairly new feature within Shopify.
I got stumped on it myself today. I think it's probably worth submitting a PR to the `gh-pages` branch adding a note about this.

Do you want to do this? Otherwise I could pull something together over the weekend.

[2016-09-11 22:31] Cam opened #187 "Local error reporting seems to be broken"
`goroutine 5 [chan receive, 1 minutes]:
github.com/Shopify/themekit.SetErrorReporter.func2()
	/Users/chris/go/src/github.com/Shopify/themekit/error_reporter.go:58 +0x45
created by github.com/Shopify/themekit.SetErrorReporter
	/Users/chris/go/src/github.com/Shopify/themekit/error_reporter.go:64 +0x68`

I have around 8 lines like that after receiving `fatal error: unexpected signal during runtime ex

[2016-09-11 22:39] Cam opened #188 "Watch removing files before uploading"
`theme watch` seems to try to remove files instead of uploading them. Pressing save twice on a file forces ThemeKit to try to remove the file then instead switch to uploading it. I'm seeing this on multiple stores/themes on El Capitan and macOS.

[2016-09-11 22:41] Cam commented on #159
Interesting. For me `theme watch` has the default behaviour of deleting any files that gets changed locally in any way at all :/

[2016-09-12 19:59] garretthaas opened #189 "Theme files may not be stored in subfolders"
Hello. I have themekit set up and `theme watch` worked on the initial setup. I came back to work on my template files I received this error: "Theme files may not be stored in subfolders" is there a way to specify the theme files directory in the .yml file?

Here is my folder structure:

-theme/
config.yml
     --assets/
     --config/
     --layout/
     --snippets/
     --templates/

[2016-09-14 14:12] jonnycobra commented on #168
Still have this issue. Normal? Or am I doing something wrong?

[2016-09-14 19:49] gescribano commented on #172
Same thing happening to me. Cloned Timber theme into local folder, created config.yml with standard settings (using password) and ran command.
I'm on mac.
Theme Kit v0.4.2
Is there a workaround? Should we do the opposite way? install manually the Timber theme on the shop and then download?

[2016-09-14 20:19] gescribano commented on #172
I found out that my private app needed theme read write permissions.
The theme download command told me that. But I guess the replace command does not catch that error and just hangs.

[2016-09-15 13:35] chrisbutcher commented on #172
Thanks all. @gesscribano your description gives me enough to reproduce this 👍

[2016-09-15 19:21] jonathanmoore opened #190 "Unexpected Host Unkown error during replace or upload"
In the process of switching from the old theme gem to themekit I am running into an issue where running `theme replace` or `theme upload` will error on a random file Update or Remove during the process.  At times the error will happen after working through 4-5 files and other times it will occur after 30+ files.

So far I have not been able to successfully complete `theme replace` or `theme upload

[2016-09-15 20:06] garretthaas commented on #189
Figured it out. I had a parent directory above theme named "templates" that was causing the error. I changed it to "shopify" and everything works as expected.

[2016-09-15 20:06] #189 closed

[2016-09-16 20:03] chryton commented on #183
Hi @neilfish since this is seemingly resolved, could you go ahead and close this issue? Thanks!

[2016-09-16 20:26] chryton commented on #177
@chrisbutcher @cshold any updates on this? Still a major blocker when deploying a theme.

[2016-09-17 09:16] #183 closed

[2016-09-18 01:17] cassidyclawson opened #193 "theme watch doesn't start workers"
Hi all,

Both the shopify_theme gem and the themekit binary have spontaneously developed the same problem for two developers when we setup a new test store using a shopify partner account.

The problem is that running theme watch simply doesn't do anything. It hangs for a moment then brings you back to the terminal command prompt with no error message of any kind.

theme check says "Shopify API is

[2016-09-19 01:54] t-kelly opened #194 "Allow config values to be passed via environment variables"
Would be great if we had the option of doing this to allow us to use Themekit on remote servers without needing to upload our top secret API settings.

[2016-09-19 06:55] jonathanmoore commented on #190
To help debug the issue a bit further, I set up `mitmproxy` to try to figure out what is triggering the error during the replace or upload process.  However, while `proxy: http://localhost:8080` is set in the config.yml file and `mitmproxy` is running, I'm finally able to fully perform `theme upload` or `theme replace`.

My guess is that the SSL certificate validation is the cause of the errors, s

[2016-09-19 16:27] #179 closed

[2016-09-20 19:30] chrisbutcher commented on #172
I was able to reproduce the `theme replace` hang by removing "Theme templates and theme assets" read/write permissions via the private app editing UI (/admin/apps/private/<id>)

Other commands error out with slightly more useful output, but at least do not hang. `theme watch` and `theme upload` both incorrectly respond with `[403]Cannot remove files that would make a theme invalid.`

 cc: @tanema

[2016-09-22 03:27] #194 closed

[2016-09-22 03:27] t-kelly commented on #194
Nevermind! Saw that you can pass environment variables to `theme configure`!

[2016-09-22 15:04] jazty commented on #79
I'm constantly having this issue as well. It seems to be that the files are only being partially uploaded to Shopify. When I see an error in SCSS files it's most commonly because the uploaded file is missing a significant chunk. I can confirm this by opening the online file editor and viewing the SCSS file. The same seems to be happening with liquid template files. The errors are thrown because th

[2016-09-22 16:57] zachharkey opened #195 "Theme watch fails with `fatal error: heapBitsSweepSpan`"
I've been using themekit for a year without any issues. Then yesterday and today `theme watch` has been failing with `fatal error: heapBitsSweepSpan`

[code]

#### _[See full error message here](https://gist.github.com/zachharkey/f55bbd66f7aa6dfdc804b71ce19b79f6)..._

[2016-09-22 16:59] zachharkey commented on #195
Oh yeah, I upgraded to macOS Sierra yesterday, which may have something to do with it.

[2016-09-22 17:31] chrisbutcher commented on #195
@zachharkey Thanks! We'll determine if it's macOS Sierra related first

[2016-09-23 00:14] Cam commented on #195
I've been using ThemeKit on macOS for a few weeks now, and there do seem to be quite a few issues popping up.

Including:
- `fatal error: gc: unswept span`
- `theme watch` deletes files rather than uploading them on first save
- other seemingly swap file related issues

[2016-09-23 00:17] Cam commented on #188
#168

[2016-09-23 00:17] Cam commented on #168
#188

[2016-09-23 00:19] Cam commented on #168
I'm seeing exactly the same behaviour on v0.4.2

[2016-09-23 01:50] justalever commented on #193
Also having this issue. Rather upsetting because I REALLY don't want to have to use the browser interface.

[2016-09-23 01:57] justalever commented on #193
@cassidyclawson Oddly enough I just figure out the problem minutes after posting my first comment. Head to your Private Apps section and toggle on the permission settings to **Read and Write**

[2016-09-23 02:26] cassidyclawson commented on #193
Absolutely right, Adam. You beat me to posting the answer but we also cracked it yesterday.
Found it by looking at the switch statement in the watch command and checking the response object's code and found 404. It appears this case is not caught in the switch and so doesn't "say" a useful error message.
I'd make a PR but it doesn't appear anyone is merging them?
Cassidy Clawson
(831) 247-3750

[2016-09-23 13:26] tanema commented on #193
PR's are welcome I don't know why you would get the impression they are not.

[2016-09-23 13:28] tanema commented on #195
@Cam can you tell us what version of OSX you are running?

[2016-09-23 16:52] yondershore opened #196 "Ruby Fail"
hey guys. everything was working until i had to restart my Mac. opened Terminal, typed "theme -h" and got the command list. typed "theme watch" and got this:

/Library/Ruby/Gems/2.0.0/gems/launchy-2.4.3/lib/launchy.rb:34:in 'rescue in open': Failure in opening uri nil with options {}: undefined method 'to_hash' for nil:NilClass (Launchy::Error)
	from /Library/Ruby/Gems/2.0.0/gems/launchy-2.4.3/lib

[2016-09-23 17:41] chrisbutcher commented on #195
@zachharkey @Cam Please try `theme watch` with version 0.4.3 that was just released. Thanks!

[2016-09-23 17:54] jtgrenz commented on #196
@yondershore it looks like you might have the old theme gem on your path.  Try uninstalling the theme gem and make sure that the path to the themekit executable is on your path.

[2016-09-23 17:54] yondershore commented on #196
thanks.. how to uninstall?

[2016-09-23 17:56] jtgrenz commented on #196
try `gem uninstall theme`

[2016-09-23 20:56] zachharkey commented on #195
@chrisbutcher 0.4.3 is smooth sailing. Thank you so much!

[2016-09-26 13:30] cshold commented on #136
I hadn't had this error in a while until this morning where it seems intermittent. Bumping it to see if we can get this looked at again

[2016-09-26 13:48] chrisbutcher commented on #195
Nice! 🎉

[2016-09-26 16:49] tanema commented on #196
Closing since this is not a problem with this repo

[2016-09-26 16:49] #196 closed

[2016-09-27 17:48] tyler-king commented on #156
As stated in my [previous comment](https://github.com/Shopify/themekit/issues/156#issuecomment-236904442) that the support is simply not coded in, we've come to a work-around of simply run multiple `theme watch -env (env-here)` at once which seems to work for the meantime.

[2016-09-27 19:15] jonathanmoore commented on #190
After quite a bit of testing it seems like `0.4.3` fixed all the issues I was running into.
https://github.com/Shopify/themekit/tree/0.4.3

My guess is that 8434c32497dc41905959e6635b4531a253523c32 took care of it.

[2016-09-27 19:15] #190 closed

[2016-09-27 19:50] tanema commented on #190
Thanks for testing it out @jonathanmoore though that commit is not in the 0.4.3 release. However the newest build was done with a newer version of Go. We have seen many improvements from just this so I am glad to hear that it has cleared up your issues as well. Keep us updated.

[2016-09-27 20:20] tanema commented on #156
Hey @tyler-king I will look into this let me just get this list of items missing straight:

[ ] - `-allenvs` option in watch
[ ] - `-env` option in upload

Is there anything I am missing

[2016-09-27 20:57] tanema commented on #156
Well, I have looked into if further and found there there is no problem with upload only that you are required to have the flags before the arguments. This is not a bug but possibly we should update our docs to make this clearer.

However I will have a fix for the `-allenvs` bug early tomorrow.

[2016-09-27 23:08] AlfalfaAnne commented on #99
I'm having the same issue with long files (both JS and CSS).

Details:
- no errors from Terminal and the "Successfully performed Update operation for file" is returned
- long file is cut off at random (usually 4000 line mark)
-  if I stop the current `theme watch` and rerun, it generally works, but only the first time
- only happens with extremely long files and if I shorten them, it's all good
-

[2016-09-27 23:10] AlfalfaAnne opened #200 "Long files being cut off on upload"
I'm having the same issue as #99  with long files (both JS and CSS).

Details:
- no errors from Terminal and the "Successfully performed Update operation for file" is returned
- long file is cut off at random (usually 4000 line mark)
- if I stop the current theme watch and rerun, it generally works, but only the first time
- only happens with extremely long files and if I shorten them, it's all go

[2016-09-28 15:18] tanema commented on #200
Hey @AlfalfaAnne I will look into this. Since there was a previous PR that fixed this, it may just be a regression so I will look into just applying the fixes again. Cheers.

[2016-09-28 15:23] tanema commented on #200
@AlfalfaAnne do you have a file you can share with me at all to try and reproduce this? The code that fixed this issue is still in place and there should be no file limit so I will have to try and reproduce it locally.

[2016-09-28 16:00] tanema commented on #169
The download is Darwin-amd64 which is the correct OS-ARCH.

[2016-09-28 16:00] #169 closed

[2016-09-28 17:28] tanema commented on #195
Closing since it seems this has been cleared up. Please reopen if you find the issue is still happening.

[2016-09-28 17:28] #195 closed

[2016-09-28 17:46] tanema commented on #186
I added some documentation in a recent pull request that should clear up the permissions issues.

[2016-09-28 17:46] #186 closed

[2016-09-28 17:46] tanema commented on #182
Fixed in a recent PR

[2016-09-28 17:46] #182 closed

[2016-09-28 17:52] #156 closed

[2016-09-28 17:53] AlfalfaAnne commented on #200
@tanema For sure - can I just send the file to timanema@gmail.com ?

[2016-09-28 17:54] tanema commented on #200
Since this is for work you can send it to tim.anema@shopify.com

[2016-09-28 19:22] #165 closed

[2016-09-29 14:02] Tdum opened #205 "Automatic Installation on Mac doesn't work"
<img width="888" alt="capture d ecran 2016-09-29 a 16 01 34" src="https://cloud.githubusercontent.com/assets/8091423/18957098/127c027a-865e-11e6-847b-86d3395bcd8d.png">

[2016-09-29 14:32] #177 closed

[2016-09-29 14:36] tanema commented on #205
Hey thanks for the heads up. we are looking into this right away.

[2016-09-29 15:12] #205 closed

[2016-09-29 15:14] tanema commented on #205
Hey sorry about that, I have updated the website but it will take a little while before it shows so while you wait you can install with this `curl https://raw.githubusercontent.com/Shopify/themekit/master/scripts/install | python`

[2016-09-29 15:30] a-s-f commented on #205
hmm that got rid of that other error but still not working.
![screenshot 2016-09-29 11 29 41](https://cloud.githubusercontent.com/assets/16754665/18960550/25617c56-8638-11e6-95a3-ef85a00861b6.png)

[2016-09-29 15:50] tanema commented on #205
It doesnt look like you added it to your bashrc.

[2016-09-29 17:21] a-s-f commented on #205
got it thanks @tanema  !

[2016-09-29 19:37] tanema commented on #200
Hey @AlfalfaAnne just a quick question, what text editor are you using? I can reproduce it in vim and I see several notifications from fsnotify part way through writing the file because apparently my vim is not setup for atomic writes. So this means that the first few events are partially written files. And since we throttle these events we only get the first event with the partially written file.

[2016-09-29 19:52] AlfalfaAnne commented on #200
Hey @tanema ,

I'm using Sublime Text 3, but I'll happily try Atom for today if that helps me work faster. I'm currently working on a 1000 line JS file and I'm having to `theme upload assets/app.js.liquid` each time in order for it to not be cut off. :/ That command works every time though (unlike `theme watch`)

Not helping out my situation, I noticed my upload speed is crazy slow today.

[2016-09-29 19:57] tanema commented on #200
Yeah `upload` would always work because the file isn't partially written when it is sent to the server. I will try and come up with a solution to this soon. Thank you for your patience.

[2016-09-30 13:55] tanema commented on #193
@cassidyclawson Can you verify that this is still an issue? With the newest version 0.4.3 I have verified that it starts up the workers and will return a 403 (albeit with a misleading error message that will be changed in the next version) when your permissions are incorrect.

[2016-10-01 11:46] sheikhmunawar opened #209 "watch giving error : tag was never closed"
Hi,
Although the tags are properly closed, but theme watch seems to fail to upload the files. (version4 .0.3)
Could not upload layout/theme.liquid:
Missing {{content_for_layout}} in the body section of the template
Liquid syntax error (line 183): 'comment' tag was never closed

[2016-10-03 20:05] tanema commented on #137
@chrisbutcher was this ever taken care of?

[2016-10-03 20:47] chrisbutcher commented on #137
@tanema Not sure. The last this was discussed is here: https://github.com/Shopify/traffic/issues/571

[2016-10-03 20:47] chrisbutcher commented on #137
Looks like it still needs to be transferred

[2016-10-03 21:18] csaunders commented on #137
Yeah this still needs to get taken care of. I've never really done domain transfers, so whoever from ops should reach out and let me know what needs to happen.

I think I bought this domain with Hover, so this should be fairly easy I think.

[2016-10-04 10:40] lloydh opened #211 "locales, config Not Being Uploaded"
Whether I run a straight 'theme replace' or explicitly try to 'theme upload locales/de.json' (for example), the CLI exits without any feedback and without uploading anything.

My setup isn't ignoring these directories and I can't see any config to whitelist them.

I'm running theme kit on macOS Sierra, Ruby 2.3.0

[2016-10-04 13:17] lloydh commented on #211
Hi tanema,
I ran the install script yesterday so I'm guessing it's the latest stable version.
I've also discovered that assets aren't being uploaded so it's just templates and snippets that are working for me!

[2016-10-04 13:40] lloydh commented on #211
I can provide some insight…

My config.yml ignore_files contained 'js' as I wanted to exclude an uncompiled src js directory — what I didn't realises was that this was matching against any files containing 'js' in the filename or extension, including json.

Changing my ignore to 'js/' solved the problem, though I'm not sure if the aggressive matching is the expected behaviour?

[2016-10-04 13:42] tanema commented on #211
hey thanks, that is helpful feedback. I will talk to the other maintainers about what should be expected. The agressive matching really helps powerful filtering but situations like this happen. Maybe in the future I will output a warning that a file is ignored due to a pattern.

[2016-10-04 13:55] #79 closed

[2016-10-04 13:55] #97 closed

[2016-10-04 13:55] #136 closed

[2016-10-04 13:55] #168 closed

[2016-10-04 13:55] #188 closed

[2016-10-04 13:55] #200 closed

[2016-10-04 13:55] #209 closed

[2016-10-04 13:58] tanema commented on #187
This will be fixed with newer versions, debug stack traces are removed.

[2016-10-04 13:58] #187 closed

[2016-10-04 13:59] tanema commented on #172
fixed by https://github.com/Shopify/themekit/pull/208

[2016-10-04 13:59] #172 closed

[2016-10-04 14:00] tanema commented on #74
429 should no longer happen as of https://github.com/Shopify/themekit/pull/208

[2016-10-04 14:00] #74 closed

[2016-10-04 14:01] #193 closed

[2016-10-04 14:02] tanema commented on #160
Closing because, this is stale. Please reopen if this is still an issue.

[2016-10-04 14:02] #160 closed

[2016-10-04 14:03] tanema commented on #82
Closing because this is stale. Please reopen if this is still an issue.

[2016-10-04 14:03] #82 closed

[2016-10-04 14:05] tanema commented on #100
Closing because this seems to be stale. Please reopen if you are still experiencing this issue.

[2016-10-04 14:05] #100 closed

[2016-10-04 14:06] #106 closed

[2016-10-04 14:09] #175 closed

[2016-10-04 14:12] tanema commented on #143
closing in favour of https://github.com/Shopify/themekit/issues/146

[2016-10-04 14:12] #143 closed

[2016-10-04 14:20] tanema commented on #158
Closing because stale but also the newest version of the cmd also handles this more gracefully.

[2016-10-04 14:20] #158 closed

[2016-10-04 14:39] markmakes commented on #172
Much appreciated fellas!

[2016-10-04 19:26] tanema commented on #118
This may not be the case in older versions but right now the code tried to normalize filepaths to those directories and if it can't then the file will be filtered out. So this probably doesn't apply anymore.

[2016-10-04 19:26] #118 closed

[2016-10-04 21:01] #126 closed

[2016-10-04 21:05] #159 closed

[2016-10-04 21:19] tanema commented on #211
Okay, I figured instead of neutering the file globbing I will document this better. I have added it to the planning for this year (https://github.com/Shopify/themekit/issues/128)

[2016-10-04 21:19] #211 closed

[2016-10-05 19:17] tanema commented on #107
fixed in 92e031dc28ae5f34594ed224fb47eba520617620

[2016-10-05 19:17] #107 closed

[2016-10-05 19:53] macdonaldr93 opened #215 "Errors not outputting to stderr"
When I run `theme` without passing an operation, I get the following log:

[code]

Where, the following is coloured like an error:

[code]

I'm doing something like this:

[code]

When I listen for data on these commands, errors don't get passed to `stderr`. Would be great to have that fixed 👍

[2016-10-06 04:41] adamwooding opened #216 "Is there an option for specifying a subdirectory to watch?"
Hi there,
I have a 'deploy' directory where all of my gulp tasks output to. Is it possible for me to store the theme config.yml file in my top level directory, and have it reference the deploy directory?

That way tasks can be run from the top level directory without having to change to the subdirectory to run theme tasks.

Is there a way to do this?

Thank you very much :)
Adam

[2016-10-06 14:12] tanema commented on #216
Hey @adamwooding can you give me an example of what your directory structure looks like? Could't you use something like foreman to be running the gulp scripts in the top directory and run your theme task in your child directory in parallel?

[2016-10-06 20:38] jtgrenz commented on #161
I'm not sure I understand the usefulness here. With ruby .env files, normally you need separate environment keys for production and development, so it makes sense in this case since they would need to change on the fly, but themekit is always gonna use the same set of keys; unless you're workflow is not what I'm imagining it to be. I've never had a need for this.

Could you elaborate on the use ca

[2016-10-06 20:49] rjocoleman commented on #161
1. `config.yml` with non-secrets to the theme repo so that all with access can use it easily.
2. Don't commit the api key secrets.

[2016-10-06 21:00] tanema commented on #161
My next step of work on this repo is to integrate https://github.com/spf13/cobra and https://github.com/spf13/viper. This way you will be able to override config values with env variables. Also I would not need to include ruby into the project.

[2016-10-06 21:03] rjocoleman commented on #161
thanks for the update @tanema. spf13/viper is very nice for this.

Also at no point was I suggesting to add Ruby, I'm sorry if that was unclear.

[2016-10-10 10:35] amit0001 opened #218 "When saving a very large CSS.liquid file the file gets cut off"
Hi,

I am using the standard configuration.

Sometimes, not sure exactly when but very often, the file upload gets stopped and the file only uploads partially. The file gets stuck in this state until I manually paste using the admin console.

Thanks
Amit

[2016-10-10 11:58] Tr1po opened #219 "command not found: theme ,even after calling echo or export"
Hi,
I am working with Theme Kit last few weeks. It worked perfectly. However, today I tried to start my environment(in same folder where I was working on Friday). All commands with theme are not working because of this message `zsh: command not found: theme` .

I tried to reinstall Theme kit (installation without any problems), even manually put export path to .zshrc and .bashrc...both options had

[2016-10-10 22:36] #219 closed

[2016-10-11 13:39] tanema commented on #218
Duplicate of https://github.com/Shopify/themekit/issues/200 I will be releasing 0.4.4 later today and that will fix your problem.

[2016-10-11 13:39] #218 closed

[2016-10-11 19:24] KaBrau08 opened #220 "Error version 0.4.4"
After install the latest version of Theme Kit(0.4.4) i can't do anything. The theme watch command its disabled and now when i download a theme returns empty files. I'm working with a shopify theme. Sorry for my english.

[2016-10-11 19:32] japherwocky opened #221 "theme download does not download all files"
We have a theme that is also tracked in a github repository.  Something (seems like Langify or an admin) managed to delete a CSS file.

To try to check for anything else that may be missing, I cloned the repository, ran `rm assets/*`, then `theme download`.

yikes, nearly 60 files are missing!

However, I notice that some of those files are actually still being served.  I can see them in the web i

[2016-10-11 19:42] japherwocky commented on #220
We're seeing files downloaded as empty also.

[2016-10-11 19:42] jaylinski commented on #220
Same here. `theme watch` does nothing when changing a file. But it spawns the workers:
[code]

Is there any way to debug the watcher?

#### Version
Theme Kit v0.4.4

#### config.yml:
[code]

[2016-10-11 19:44] KaBrau08 commented on #221
I have the same issue, and the theme watch it's failing

[2016-10-11 19:54] tanema commented on #221
What are you ignored files? Ignored files are now applicable to downloading.

[2016-10-11 20:01] tanema commented on #220
@jaylinski thanks for the full information I appreciate it. However could you please open a new issue for you problem?

[2016-10-11 20:01] tanema commented on #220
@KaBrau08 I will look into the empty files issue. Can you give me more information. Are all files empty? Only some files empty? certain file types?

[2016-10-11 20:05] KaBrau08 commented on #220
It's a kind of random issue, sometimes the folders are empty, sometimes all files are empty, sometimes not all files empty. And the theme watch doesn't work at all.

[2016-10-11 20:05] japherwocky commented on #221
[code]

a subset of files not being downloaded:

[code]

[2016-10-11 20:06] tanema commented on #220
Is there any error output from download or does it say that is completed successfully? What platform are you on?

[2016-10-11 20:08] KaBrau08 commented on #220
@tanema Don't output an error, the cmd response completed successfully. I'm on windows 10

[2016-10-11 20:15] japherwocky commented on #220
On macOS Sierra, i'm seeing it in a snippet generated by langify, `snippets/ly-static-string.liquid`

with a blank `theme download` the file was overwritten locally with an empty file;  running `theme download snippets/ly-static-string.liquid` restored it.  running it again didn't recreate it!

[2016-10-11 20:17] tanema commented on #220
thanks @KaBrau08 and @japherwocky I will get back to you shortly

[2016-10-11 20:18] KaBrau08 commented on #220
@tanema Thanks to you

[2016-10-11 20:31] jaylinski commented on #220
@tanema thanks for you quick help!

I checked out the branch and compiled it.

Fixed the watch issue. :heart:

[2016-10-11 20:43] tanema commented on #221
@japherwocky try taking out some of your ignore files. for instance your `.git*` is filtering your gif files. `.git*` is interpreted as a regex and that means you should have the form `\.git.*`

[2016-10-11 20:44] tanema commented on #221
That should clear up the filtered files.

[2016-10-11 20:46] KaBrau08 commented on #220
@tanema Sorry for my ignorance but i still have trouble. I need to do something with the new branch?. I'm very lost.

[2016-10-11 20:48] tanema commented on #220
@KaBrau08 can you send me your `config.yml` to tim.anema@shopify.com  I am having trouble reproducing the empty files bug. I will release a new version that you can update to when I have fixed these issues.

[2016-10-11 20:53] KaBrau08 commented on #220
@tanema Its done. Thanks

[2016-10-11 21:09] pkavanaghjr commented on #82
Hey, im having a similar error showing up.

I have been developing the past couple weeks and all day today using themekit with no issues and have been loving it, until today when this error appeared seemingly out of nowhere.

`[999]Could not perform Update to templates/page.help.liquid at Host Unknown
	Put https://_mystore_.myshopify.com/admin/themes/156958152/assets.json: dial tcp: lookup _mystor

[2016-10-11 21:10] tanema opened #223 "Multiple events in watch."
I am seeing multiple events in watch due to low debounce timeout. this will need to be fine tuned.

[2016-10-11 21:14] tanema commented on #82
@pkavanaghjr Is this every request? Is it only on one asset update? What version of themekit are you using?

[2016-10-11 21:16] #220 closed

[2016-10-11 21:17] pkavanaghjr commented on #82
on Theme Kit v0.4.6 and yes it is for every request. I havent been able to upload anything for about the past hour.

[2016-10-11 21:18] tanema commented on #82
@pkavanaghjr can you please send me your config.yml to tim.anema@shopify.com I will look into it more closely

[2016-10-11 21:26] pkavanaghjr commented on #82
Just sent you an email, thank you so much for the quick responses!

[2016-10-11 21:45] tanema commented on #221
@japherwocky  Also as a side note `theme download assets/*`would have only ever worked if you already had the files on you machine because it would be expanded into a list of the files already in that directory. It still functions that way.

Can you please update your themekit to the 0.4.6, check your ignores, and confirm if your files are still empty? Thank you.

[2016-10-12 02:48] chryton commented on #221
I am also seeing this on 0.4.6. Specifically if `ignores:` is blank but `ignore_files` is set as in a case such as this:

[code]

If I run `theme download --env=production` with the above I get a short list of files that it says has changed but it empties out every file within the theme on my local machine.

[2016-10-12 03:52] tanema commented on #221
@chryton every single file? Also it seems like no one is using the regex syntax properly and every one is just expecting a * glob syntax. I will have to take this into account.

[2016-10-12 03:58] chryton commented on #221
@tanema ~82/85 files emptied out. I can send you a screencast via email when I'm back in the office in the morning.

[2016-10-12 06:01] japherwocky commented on #221
I've completely removed my ignore_files section, I'm getting mixed results.  Modified files are empty, deleted are missing:

[code]

It looks like the missing files are consistently the tail end of the alphabet.

[2016-10-12 06:03] japherwocky commented on #221
Also - maybe 50/50 I hit the 30 second timeout, and nothing happens.  When it succeeds, I don't get the error message (but files are messed up).  Maybe it's a race condition with that timeout?

[2016-10-12 13:22] tanema commented on #221
@japherwocky thanks for the effort, I am thinking you are right about the race condition. Can you send me your config.yml to tim.anema@shopify.com and then I will send you a build without concurrency in download and we can check if that may be the case.

[2016-10-12 13:55] #223 closed

[2016-10-12 14:54] tanema opened #226 "Timeout is being unmarshalled from config as nanoseconds."
This is not a helpful value as I had to set my config to 60000000000 just to get the timeout up to 60 seconds.

[2016-10-12 15:01] tanema commented on #221
@japherwocky So I just published some fixes for downloading and you can update your themekit to 0.4.7. However with your config I noticed that your theme is quite large so it is timing out. if you set your timeout in your config file to this `timeout: 60000000000` that will set it to 60 seconds and then the timeout won't happen. I know that isn't a very good value for a timeout so I have also crea

[2016-10-12 15:59] pkavanaghjr commented on #61
ive got the same issue as @markmakes

Is there a better way to uninstall?

[2016-10-12 16:25] tanema commented on #61
If you installed using our install script you can delete the folder `~/.themekit` or you can run `rm $(which theme)`

[2016-10-12 16:29] tanema commented on #221
Closing because the PR seems to have fixed @japherwocky issue.

[2016-10-12 16:29] #221 closed

[2016-10-12 16:30] tanema commented on #226
Closing because I wasn't aware of how to use it and it needs better doumentation so I will add it to the list. You can set timeout to 60 seconds by setting timeout to `60s`

[2016-10-12 16:30] #226 closed

[2016-10-13 08:13] amit0001 commented on #218
Fixed. Thanks!

[2016-10-13 13:43] macdonaldr93 opened #228 "Option to suppress update notifier"
Pass `--no-update-notifier` on commands to suppress this message.

[code]

This will be useful for https://github.com/Shopify/node-themekit. We only want users to get notified once a new version is available in npm.

[2016-10-13 22:15] patdryburgh opened #229 "[401] Insufficient permissions to perform Update"
Hello,

I have installed Theme Kit following the instructions found here: http://themekit.cat. I have confirmed that Theme Kit is running with the `theme -h` command.

I've downloaded the theme files and added them to the directory with the `config.yml` file in which I've created a configuration for a development environment environment.

[code]

These are the permissions I've set in the private a

[2016-10-13 23:27] tanema commented on #229
Hi Pat, do you get the same error when you use the command `theme upload`? Also can you send me your config.yml to tim.anema@shopify.com.

[2016-10-14 15:34] tanema commented on #229
Hey @patdryburgh any update?

[2016-10-14 18:27] patdryburgh commented on #229
Hey @tanema, I do get the same error. When I run `theme download`, I get `Server responded with HTTP 401; please check your credentials.`. I've sent my config.yml file to your email. Thanks so much for looking into this!

[2016-10-14 18:32] tanema commented on #229
Hey @patdryburgh thanks for sending me your config. Your problem is that you were using your instead of your password in your config. If you change your password to the password value in your private app config, your theme will download no problem.

[2016-10-14 18:32] #229 closed

[2016-10-17 18:44] bhekuwenza opened #230 "Memory Issue: Windows 10"
Hmm, I get a memory error after trying to run `theme replace` or `theme watch`

[code]

This something on my end, or the theme.exe? thanks

[2016-10-17 19:07] tanema commented on #230
Oh no @bhekuwenza that should be handled better! Let me just get more information on this though. Does this error happen after a while with watch or right away? Same with replace, does it happen right at the begining or after the command has run through a couple files? What is the largest file in your project?

[2016-10-18 21:24] csaunders commented on #137
Just a reminder that this domain expires on `2017-02-26T16:27:46.758Z` so hopefully this can be addressed soon.

[2016-10-18 21:25] tanema commented on #137
Thanks @csaunders hopefully I can expedite this then.

[2016-10-19 12:36] amit0001 opened #231 "Timeout when using replace"
Hi,

When issuing a theme replace command on a large theme, after a while the command stops with the message:
Theme Kit timed out after 30s seconds

Is this configurable somehow? Is anything replaced until the timeout?

Thanks
Amit

[2016-10-19 13:03] tanema commented on #231
Hi @amit0001 you can increase your timeout by adding `timeout: 60s` to your configuration. Usually you will experience a timeout if there is a very large single file being uploaded.

[2016-10-19 18:53] chryton commented on #171
On v0.4.7 this does not seem to be an issue any further when running `theme replace`. Can anyone else confirm?

[2016-10-19 18:59] chryton opened #232 ""Cannot Unmarshal String" Errors"
These seem to be very inconsistent and only when running `theme replace`. They are also not deterministic as I can run `theme replace` back to back and get different `500` errors for different files.

These files happen to just be the base files of https://github.com/Shopify/skeleton-theme without any updates.

Example Errors:

[code]

Example files:

`cart.svg.liquid`:

[code]

`arrow-down.svg.li

[2016-10-19 19:03] cshold commented on #171
Also haven't seen this happen in the last few versions. I'm happy to close this until it chooses to reappear.

[2016-10-19 20:06] tanema commented on #232
Thanks, I will look into this. That error stems from unmarshalling the errors from a shopify response so it has nothing to do with your assets. (well it might, usually those errors indicate syntax errors). Also the request run concurrent so I cannot enforce a deterministic output.

I will try a replace on this theme now and see what I can find out, this should be a simple fix so I will get back to

[2016-10-20 17:23] Zlerp commented on #186
@jvillalobos22 haha it always soemthing stupid, damn permissions... Started a new job so i put this down for a while but i started working on building some sites again so i figured id check out this threads updates. Thanks for figuring it out greatly appreciate it bud!!

[2016-10-21 00:13] bhekuwenza commented on #230
thanks for the reply @tanema. Apologies for my late reply! Windows 10 anniversary update is my latest if that is relevant -_-

After re-installing theme-kit to the latest ver, it still has the memory issue. And to confirm it happens after a while. There is also more that the log prints out when it errors than what I have above.

[2016-10-24 16:50] #231 closed

[2016-10-24 17:22] amit0001 commented on #231
After updating the timeout to 180s it worked. Thanks!

[2016-10-25 14:02] swoodford commented on #146
Just chiming in here, installing this to `~/.themekit` on a Linux server is not a great idea, especially for use in CI/CD environments with Jenkins.  It should be installed to a more standard location such as `/usr/local/bin` and given the proper permissions for system wide usage.

[2016-10-25 14:17] tanema commented on #146
@swoodford can't agree enough we will be taking that into consideration.

[2016-10-26 20:06] cshold commented on #171
@karocena just ran into this issue again so it is still prevalent.

[code]

[2016-10-26 22:04] plisvb opened #233 "[403]Insufficient permissions to perform Remove to layout/theme.liquid"
Getting this error in terminal when I save a file for updating.  If I save again, it works fine.  Any idea why?

[2016-10-26 22:27] chryton commented on #171
Would this be helped if theme upload and theme replace were deterministic? i.e. They uploaded files in a specific order like the theme gem would (assets/, config/, snippets/, etc.).

[2016-10-27 13:22] tanema commented on #233
What editor are you using and is it a large file? Some editors create a swap file of the changes, delete the current file then put the swap file in place. I am debouncing all the events but it seems like the remove is the most recent event it catches rather than the write. I will play will the debounce time for this.

[2016-10-27 13:28] tanema commented on #171
@cshold what version of themekit is @karocena running on? Is this happening in watch/upload/replace? I will reopen this because it seems like there should be a strategy in place for this.

[2016-10-27 13:30] plisvb commented on #233
Hi Tanema,

Using coda on the mac. it's my theme.liquid file which is 16kbs but it has issues with all files.  I save the file, it removes, I save the file again, it works fine.  Assets images etc... work perfectly

[2016-10-27 14:31] karocena commented on #171
I'm using v0.4.7 (I think this might be outdated).

In this specific instance, I used `slate deploy`, which I believe uses `theme replace`

[2016-10-27 14:35] tanema commented on #171
Thanks @karocena and that is the most current version.

[2016-10-27 17:05] jrdnndtsch opened #234 "compiling sass into styles.scss.liquid"
I am using compass to compile sass and then update the styles.scss.liquid file. Themekit receives a Remove event and instead of updating removes the entire styles.scss.liquid file from the online store.

[2016-10-27 17:27] tanema commented on #234
duplicate of #233

[2016-10-27 17:27] #234 closed

[2016-10-28 18:35] bhekuwenza commented on #230
@tanema anything on this mate? I waited for the update after watching other issues you are trying to resolve and have `theme watch --env=staging` or `theme replace --allenvs` but always result in either a memory error or timeout after 30seconds

This is also after re-installing/updating theme-watch. Error Below
[memory-error.txt](https://github.com/Shopify/themekit/files/559151/memory-error.txt)

[2016-10-28 18:39] tanema commented on #230
Hey @bhekuwenza, I am working hard on a `0.5.0` release that has been completely overhauled that should solve your problem but will not be out for a couple of weeks. I am fairly certain I know what your issue is but I cannot repair it without a significant rewrite which is what `0.5.0` will be. If you would like to beta test the new version and see if it helps please contact me at tim.anema@shopif

[2016-10-28 18:48] bhekuwenza commented on #230
Nice will do mate. Thanks for this

[2016-11-03 12:17] arypbatista opened #236 "Handle new config.yml on change detection (either error, warn or use new data)"
I am working with several git branches, each branch with a different config.yml. In deed, each branch is a different shopify shop. With this workflow is a **really common mistake** to change branches without stopping `theme watch`. So, accidentally chaging branches will cause lot of unintended updates on my sites.

I think it is reasonable to stop themekit execution if current `config.yml` has cha

[2016-11-03 13:04] tanema commented on #236
Thanks this is a good idea, I will see what I can do.

[2016-11-03 15:27] joshiefishbein opened #238 "Cannot update Theme Kit for Debut Theme"
I may be using a version so old that `theme update` or the like do not work for me. Terminal explains that this is not a valid command.

The reason why I am trying to update is because I am trying to develop for the Debut theme, but because the `/sections` directory is new, Theme Kit errors saying:

    sections/slideshow.liquid' is not in a valid file for theme uploads
    Files need to be in one

[2016-11-03 15:58] tanema commented on #238
Hey @joshiefishbein can you please tell me the output of `which theme`? It looks like you are running the theme gem still and not this version of theme kit. Current theme kit supports the sections folder.

[2016-11-03 19:57] joshiefishbein commented on #238
@tanema thanks for getting back to me so quickly. Here's the output of `which theme`:

    /usr/local/bin/theme

[2016-11-03 19:57] tanema commented on #238
what about `theme version`

[2016-11-03 22:19] Cam commented on #236
We just had a discussion about this yesterday, and none of our solutions were as elegantly simple as this. Nice one @arypbatista. Super simple, super logical.

[2016-11-04 15:52] joshiefishbein commented on #238
@tanema `theme version` responds with: `Could not find command "version".`

[2016-11-04 16:54] arypbatista commented on #238
I think you are running `shopify_theme`. Try reinstalling themekit.

[2016-11-04 16:55] arypbatista commented on #238
If you are on Linux or MacOSX: maybe you have installed themekit but you didn't added to our PATH.

[2016-11-04 17:02] tanema commented on #238
Thanks for helping out @arypbatista! @joshiefishbein you are using `shopify_theme` gem. You can remove this by running `rm $(which theme)` then install theme kit using `curl https://raw.githubusercontent.com/Shopify/themekit/master/scripts/install | python` Make sure to follow the instruction at the end of the installation to add theme kit to your path.

[2016-11-04 17:02] #238 closed

[2016-11-04 20:56] joshiefishbein commented on #238
Ok Thanks so much for the support @tanema and @arypbatista !!

[2016-11-05 11:11] illarionvk opened #239 "JSON files are indented with tabs instead of spaces"
Thank you for resolving the [JSON pretty-printing issue](https://github.com/Shopify/themekit/issues/165).

In 0.4.7, lines in JSON files are now indented with tabs instead of spaces. Multiple coding style conventions recommend indenting JS code with spaces:

- [Node](https://github.com/nodejs/node/blob/master/.editorconfig) — 2 spaces
- [NPM](https://docs.npmjs.com/misc/coding-style) — 2 spaces
-

[2016-11-05 15:27] tanema commented on #239
Oh yes that isn't right! Thanks for letting me know.

[2016-11-05 19:14] illarionvk commented on #239
Thank you, I hope the new release is coming soon. I'm using this workaround for now:

[code]

This command reformats JSON after the download. You'll need [YAJL](http://lloyd.github.io/yajl/), [GNU parallel](https://www.gnu.org/software/parallel/) and `sponge` from [moreutils](https://joeyh.name/code/moreutils/). On a Mac, both can be installed via Homebrew:

[code]

[2016-11-07 15:16] #27 closed

[2016-11-07 15:16] #117 closed

[2016-11-07 15:16] #105 closed

[2016-11-07 15:16] #138 closed

[2016-11-07 15:16] #161 closed

[2016-11-07 15:16] #215 closed

[2016-11-07 15:16] #216 closed

[2016-11-07 15:16] #228 closed

[2016-11-07 15:16] #239 closed

[2016-11-07 15:30] tanema commented on #128
I am closing this now because most of the tasks are done except for the install flow and there is a separate issue for that  https://github.com/Shopify/themekit/issues/146

[2016-11-07 15:30] #128 closed

[2016-11-07 15:32] tanema commented on #232
Hey @chryton there was a new release today that handles errors a but more gracefully. The `json: cannot unmarshal string into Go value of type kit.assetError` error was because theme kit was trying to unmarshal a response body incorrectly. Let me know how it goes.

[2016-11-07 15:33] tanema commented on #230
Hey @bhekuwenza I released the version that I was talking to you about. Please try the new version and tell me if the release has the same issues.

[2016-11-07 15:38] chryton commented on #232
I'll upgrade and let you know, thanks!

[2016-11-07 15:54] chryton opened #241 "Docs Down"
http://themekit.cat/ is currently down after the latest release.

[2016-11-07 16:02] tanema commented on #241
Yes please see here https://shopify.github.io/themekit/ I will be updating the binary later today so there is no reference to that domain any more.

[2016-11-07 16:04] chryton commented on #241
@tanema Ah, thanks; we didn't see that change. Is there any plans to add a redirect from that domain?

[2016-11-07 16:05] tanema commented on #241
Yes it *should* have already been done but in the works.

[2016-11-07 16:11] #241 closed

[2016-11-07 21:15] tanema commented on #236
Hey @Cam @arypbatista When you change branches, are you seeing it instantly start uploading your diff changes or only after you edit the files?

[2016-11-08 00:43] Lomejook opened #244 "Windows Download 404"
Hi, where I can download the windows 64bits distribution?

This link is not available:

https://github.com/Shopify/themekit/releases/download/0.5.0/windows-amd64.zip

[2016-11-08 06:22] Lomejook commented on #244
Docs links are wrong, you should update to the last release

https://github.com/Shopify/themekit/releases/download/v0.5.1/windows-amd64.zip

[2016-11-08 06:23] #244 closed

[2016-11-08 14:10] tanema commented on #244
Thanks for letting me know. I have fixed the download links now.

[2016-11-08 16:44] tanema commented on #137
Shopify now has management of this domain.

[2016-11-08 16:44] #137 closed

[2016-11-08 17:06] arypbatista commented on #236
Hi @tanema, as soon as I `git checkout <branch>` lot of events are triggered on themekit causing files to upload.

[2016-11-08 19:55] brettchalupa opened #246 "theme watch - "Runtime Error: invalid memory address or nil pointer dereference" after many updates in v0.5.1"
I upgraded to v0.5.1 yesterday, and when saving files to be updated by `theme watch`, a `panic: runtime error: invalid memory address or nil pointer dereference` error is thrown.

The seems to be occurring after saving the file ~12 times, which is then followed by `theme watch` crashing.

Here is the full error:

[code]

Additional details:

- Go v1.7.1 (darwin/amd64)
- macOS Sierra - v10.12 (16A3

[2016-11-08 20:13] tanema commented on #246
Hey @brettchalupa I just created a PR for a fix for this however this would only happen if the request fails for some reason. The PR will catch that error and log it however there shouldn't really be an error at that step anyways. Are you saving the same file 12 times? Is it all in a row?

[2016-11-08 20:16] brettchalupa commented on #246
@tanema Yup, it is the same file I am saving consecutively. I'm not saving it a bunch intentionally in rapid intervals though, just saving it as I made changes to the file (maybe twice a minute or so). I have only been working with that one JS file, so if I notice it happen with another file during development I'll share details about that too.

[2016-11-08 23:07] tekhaus opened #248 "ThemeKit downloads wrong theme when bootstrapping"
Followed the instructions to bootstrap a new theme, which correctly created a new instance of Timber (2.2.2) in the shop, however when it fetched assets, it appears to have downloaded the **Debut** theme files (as evidenced by the sections folder among other things).
![screenshot](https://cloud.githubusercontent.com/assets/1009347/20121186/eeaec8a6-a5c4-11e6-9881-ed9a65bb0db4.jpg)

[2016-11-09 09:06] foobartel opened #249 "Lots of errors with v0.5.x"
Hi,
after updating Themekit to the latest version 0.5.1 I get lots of errors that files couldn't upload correctly. A few times the process completely crashed after such errors. This has not happened so far with any of the last 4 previous versions.  `theme upload <file>` seems to work without problems.
Cheers, Holger

[code]

[2016-11-09 11:15] AlphaHasi commented on #249
Same here. On Mac OS X El Capitan (10.11.6).

It also prints "File not in project workspace." a lot. There is no hint about what file this message is, it just comes up again, again and again.

[2016-11-09 14:21] tanema commented on #246
I reopened this because I added error handling for this and this should log a valid error now, but I imagine it will be a request error.

[2016-11-09 14:32] tanema commented on #248
This is interesting https://github.com/Shopify/themekit/blob/master/cmd/bootstrap.go#L20 is the settings for the paths to Timber so if it is downloading Debut it is happening upstream. I will have to get back to you on this.

[2016-11-09 14:37] #233 closed

[2016-11-09 14:45] tanema commented on #246
I have released version v0.5.2 that will handle that panic, please try it out.

[2016-11-09 14:51] tanema commented on #249
Hey @foobartel there was an error that was unhandled refferred to in the #246 issue that has been taken care of. However I have seen the 404 errors as well and they are coming from shopify and not theme kit, I cannot help those.

@AlphaHasi I just released 0.5.2 that specifies the file name that the event happens on so you will know which file it is referring to.

Please try out the new release an

[2016-11-09 14:52] tanema commented on #230
I am closing this for lack of activity and that the new version no longer uses a buffer for logging that would leak.

[2016-11-09 14:52] #230 closed

[2016-11-09 15:40] AlphaHasi commented on #249
Hi @tanema, thanks for your fast help!

The complete message showed me now that the folder ".idea" is not in workspace. So my bad: that is a folder from PhpStorm that I now added to "ignore_files". Strange that it never complained before. This error message are gone.

The messages: "Status text: Not Found/Errors: Not Found" are another thing.

Thanks!

[2016-11-09 15:42] tanema commented on #249
@AlphaHasi Yes the newer version of theme kit is more verbose. All errors are reported rather than just swallowing the errors.

[2016-11-09 16:25] chryton commented on #249
Seeing something similar on 0.5.2 using `theme replace` that is halting the replace:

[code]

[2016-11-09 16:27] tanema commented on #232
I am going to close this in favour of the newer issue https://github.com/Shopify/themekit/issues/249

[2016-11-09 16:27] #232 closed

[2016-11-09 17:09] tanema commented on #248
@tekhaus I have gotten the maintainers of Timber and Debut involved in this and I will get back to you when they find anything.

[2016-11-09 17:29] tobypowell opened #250 "Same errors as 0.5.1"
have to save multiple times to get the file to save and upload, generally getting this error 9 times out of 10:

Received Create event on assets/main-style.scss.liquid
[404]Asset Perform Create to assets/main-style.scss.liquid at host <hipsterfy-theme.myshopify.com>
	Status text: Not Found
	Errors: Not Found

[2016-11-09 17:34] tanema commented on #250
Duplicate of #249

[2016-11-09 17:34] #250 closed

[2016-11-09 17:36] tanema commented on #249
@chryton how large is the file that you are editing? The timeout is not specifically on the http request so if it takes longer than 30s to upload it will timeout. I might raise the timeout because that timeout is a bit low for large files.

[2016-11-09 17:41] chryton commented on #249
@tanema I have my timeout in the config set to `timeout: 60000000000`.

The files vary. I am getting it on some liquid files that range from 42 bytes up to 6kb and images that range from 28kb to 300kb.

[2016-11-09 17:44] tanema commented on #249
It may just connection issues that I cannot do anything about except recover from. I will look into this further. A lot of these errors may be shopify related and theme kit is only passing on the error to the users.

As a side note when specifying your timeout you can use the format of `60s` for sixty seconds or even `1m` for one minute.

[2016-11-09 18:16] brettchalupa commented on #246
@tanema sounds good, will do. Thank you! I'll upgrade today and report anything new there.

[2016-11-09 18:20] liam-hennessy opened #251 "Default ignore_files"
A suggestion for an enhancement: Since many themekit users will also use version control software, how about adding a default list of files that are safe for themekit to ignore?

This would reduce the noise in the output of `theme watch`. Currently, without manually configuring each of my config.yml files, I see lots of this:
[code]

By **ignoring .svn folders by default**, there would be less API

[2016-11-09 18:36] chryton commented on #249
@tanema ah, thanks for the note on the time out; I was using what you had said a while back to do.

[2016-11-10 14:57] tanema commented on #251
@liam-hennessy Yeah I think this has been requested enough times that I should look into more complex default ignores. Thanks!

[2016-11-10 17:25] neycodes opened #252 "Unaltered lines marked as changed."
If I change one line of code, multiple other lines are then marked as changed. Then if I undo the 1 change I made, the other lines are still marked as changed.

For example, I changed one word in "theme.liquid" and my editor (Atom) showed 81 lines added/81 lines deleted. Upon undoing the change, it showed 80 lines added/80 lines deleted.

Is this a problem with running `theme watch`?

[2016-11-11 14:37] tanema commented on #252
I don't think this is a problem with theme kit. I may be a plugin you have that is doing it however I won't dismiss it right away I will test a bit. I am working on better git integration right now anyways.

Do you a plugin to tell you what has changed? I don't use atom and when I open it I don't see that information anywhere.

[2016-11-11 14:43] neycodes commented on #252
I am running a plugin called [git-diff](https://github.com/atom/git-diff) in Atom to show new/edited lines in a file. It is possible that it's just glitching with tracking themekit changes.

[2016-11-11 17:09] pkavanaghjr opened #253 "Theme Watch not working - "Error: Could not watch directory `xxx/directory-path/`: too many open files""
Hello,

I was using theme kit without any issues for a few weeks until one day it just stopped working and started throwing errors. There have been a few different errors that have occurred over the last few themekit version updates. Ive been in contact with Tim from Shopify and weve tried to resolve this with no luck. So heres some of my errors and our progress:

Originally had an issue connectin

[2016-11-14 12:45] AdamCraven commented on #249
Hi @tanema, Can reproduce same error as OP, but with small SVG file. It uploaded fine first time, but `theme watch` and then file modification and it will give OPs error. Using theme upload, there's no error. Using themekit 0.5.2.

[2016-11-14 14:28] tanema commented on #249
Thanks @AdamCraven for the extra information.

[2016-11-14 16:07] #249 closed

[2016-11-14 16:09] tanema commented on #252
Hey @neycodes I have been testing with this and I have not found that it has marked more lines than have changed. I am going to close this since I cannot find a situation where this is the case. If however you can get me steps to full reproduce this and have it narrowed down to themekit then please reopen this issue and I will take care of this.

[2016-11-14 16:09] #252 closed

[2016-11-15 23:05] joshiefishbein commented on #253
This has also been happening to me.

When I do `theme watch -e development` it will work fine. When I do `theme watch -e production` after it returns this same error.

[2016-11-16 03:24] tanema commented on #253
@joshiefishbein thanks for the extra info! @pkavanaghjr and I have been puzzled about this for a while now.

[2016-11-16 18:42] tanema commented on #253
Hey so here is an issue linked with our issue https://github.com/fsnotify/fsnotify/issues/129 I think if I add better default ignores from this issue https://github.com/Shopify/themekit/issues/251 and setup the file watcher to not watch files that are ignored then I might be able to have this work more reliably.

A couple questions:

- Do you use git or svn in these projects that are giving you is

[2016-11-17 11:29] signal-intrusion commented on #253
I've had a similar issue. There was an easy workaround, but I don't know if it will help you: http://blog.mact.me/2014/10/22/yosemite-upgrade-changes-open-file-limit

[2016-11-17 15:19] driespieters commented on #248
I also tried setting up a new theme with bootstrap. Themekit successfully created a new theme in the store but downloaded the store's published theme.

(So I assume @tekhaus his published theme was Debut)

[2016-11-17 15:21] tanema commented on #248
hey @driespieters thanks! that really sheds some light on what is happening! This is a bug I can fix.

[2016-11-17 17:23] tekhaus commented on #248
@driespieters @tanema yep, my store was using Debut as it's published theme (as I assume all brand new Dev stores do currently)

[2016-11-18 18:52] joshiefishbein commented on #253
@tanema

- Yes I use git, and the repo root is the same as the config.yml location
- Yes on some of the projects I've used this on I've used Compass that auto-creates a .sass-cache
- I use Sublime at the moment, I don't believe I'm using it in a way that creates a trail of dot files. However, macOS sometimes leaves the `.DS_Store` hanging around.

[2016-11-19 00:29] justinmetros opened #257 "Small Feature Request - Show state of themeId on theme watch"
This is very opinionated but I had added it to my fork of gulp-shopify-upload before moving to ThemeKit, and found it very helpful.

Its awesome that when you run `theme watch` it lets you know the themeId. e.g.
`Watching for file changes for theme 123456789 on host mysite.myshopify.com`

What I found very helpful, and eliminates some second guessing when moving between published and unpublished t

[2016-11-20 21:15] PTcampbell opened #258 "theme watch not uploading new image assets"
Since the latest update when I add a new asset to the directory I get this…

[code]

For some reason it wont upload image assets. Am I missing something?

Thanks in advance!

[2016-11-20 22:04] tanema commented on #258
Are you confused because it says update? Or does the asset not upload? It seems like the image asset uploaded successfully?

[2016-11-20 22:06] PTcampbell commented on #258
Thanks for the response. The asset doesn’t upload at all.

On Sun, Nov 20, 2016 at 2:04 PM Tim Anema <notifications@github.com> wrote:

[2016-11-20 22:07] tanema commented on #258
How are you creating this file? .dat.nosync022e.Q628cQ is not an image file it seems like an application data file.

[2016-11-20 22:10] PTcampbell commented on #258
I'm not sure what that file is – it's just the response I was getting when I renamed the "logo.png" file in the assets directory. At the moment though, when I drag any image into the assets directory I am getting no response from "theme watch".

[2016-11-20 22:55] PTcampbell commented on #258
I am just moving images into the asset folder. Should this not sync? I also
tried “theme upload” which did not recognise any of the new images in the
assets folder.

I am not sure what the .dat files are – I can’t see them anywhere.

On Sun, Nov 20, 2016 at 2:07 PM Tim Anema <notifications@github.com> wrote:

[2016-11-21 03:32] sdn90 commented on #257
+1 on this and an addition:

The Ruby CLI had the command `theme open` which opens the shop in a browser with `?preview_theme_id=THEME_ID`. This is extremely helpful when you are using the workflow with multiple themes on 1 shop.

The Ruby CLI did not output the URL though, which is annoying when needing to share with other people because Shopify does a redirect and removes the query string.

[2016-11-21 14:22] tanema commented on #257
Hey thanks for the suggestions, @justinmetros I should be able to do this no problem.

@sdn90 I should be able to do this. I can also output the link to the console as well as open it.

[2016-11-21 15:42] #248 closed

[2016-11-21 15:53] tanema commented on #258
Hey @PTcampbell can you please tell me a few things

- Your OS with version
- Your text editor
- Your workflow (any processors)
- Your images adding/editing workflow.
- Your Theme Kit version.

[2016-11-21 17:44] PTcampbell commented on #258
Thanks Tim.

   - I’m on 10.12.2 Beta (16C48b)
   - I’m using Atom (latest)
   - No preprocessors to speak of
   - Images are being created with sketch – simply exporting .pngs or .svgs
   into the assets directory – that or I will drag existing assets into the
   folder.
   - ThemeKit version is 0.5.3

On Mon, Nov 21, 2016 at 7:53 AM Tim Anema <notifications@github.com> wrote:

[2016-11-21 17:54] tanema commented on #258
@PTcampbell Also do you have any ignored files in your config?

[2016-11-21 20:50] PTcampbell commented on #258
No ignored files :/

On Mon, Nov 21, 2016 at 9:54 AM Tim Anema <notifications@github.com> wrote:

[2016-11-22 00:50] lineker opened #262 "Errors: SSL required"
Hi,

I'm running on macOS 10.12.1
ThemeKit - Shopify Theme Utilities 0.5.3
Installed using : curl https://raw.githubusercontent.com/Shopify/themekit/master/scripts/install | python

command that I'm trying to run:
theme download

error:

[403]Assets Perform Retrieve at host <mystore.myshopify.com>
	Status text: Forbidden
	Errors: SSL required

any idea why?

[2016-11-22 19:51] stevebosworth opened #263 "Ability to use json OR yaml for config file"
Most of our tooling is done in node and Shipit uses ejson so our other tools are converting `.yml` files to `.json`. It would be great to be able to pass Themekit a json file instead of a yml file if we want.

[2016-11-22 20:50] ksr583 opened #264 "Wildcards in theme download / upload"
Would like to be able to use wildcards when downloading or uploading, for example:
[code]

[2016-11-22 23:23] tanema commented on #262
Hi @lineker can you please send me your config file to tim.anema@shopify.com?

[2016-11-22 23:24] tanema commented on #262
Also are you using a proxy of any kind?

[2016-11-22 23:48] tanema commented on #257
Hey so with PR #260 that finishes up these request, these features will be in the next release.

[2016-11-22 23:48] #257 closed

[2016-11-23 00:13] ksr583 commented on #264
Ok now I'm a bit confused. This seems to work sometimes and not others, or I made a mistake a few times.

[2016-11-23 01:05] tanema commented on #264
haha @ksr583 it is because the wildcards work if the files already exist on the local machine so your shell completes the glob with the file names.

You are correct though. Theme kit should support this feature, I will look into it.

[2016-11-23 14:18] tanema commented on #262
Hey @lineker, the problem is that your provided the `https://` to the store config. Please omit that from your config so it looks like `store: mystore.myshopify.com` and it will work.

[2016-11-23 14:18] tanema commented on #262
I will make a not of making this better so it is more apparent what is wrong.

[2016-11-23 14:18] #262 closed

[2016-11-23 14:21] tanema commented on #258
Hey @PTcampbell I am unable to reproduce this at all. Do all of your other assets respond as expected like your javascript in the assets folder?

[2016-11-23 21:41] PTcampbell commented on #258
Existing assets such as SCSS and liquid files are responding. It's only new files such as images which don't upload. :/

Thanks

[2016-11-24 16:57] derekmorash opened #267 "theme watch --notify not notifying"
I'm trying to get theme watch to notify my browsersync instance, however whenever a file is changed and uploaded it doesn't notify the file I specify (theme watch --notify=/tmp/theme.update). The file doesn't even get created. I've tried giving it a different file and directory, but it still does nothing.

Watch works perfectly, uploads the file just as it should, but notify does nothing. Am I doi

[2016-11-24 18:32] tanema commented on #267
hey @derekmorash it seems in a previous refactor, the notify file functionality was broken. I will look into it.

[2016-11-24 18:42] cshold commented on #171
This just popped up again:
[code]

I think the fix would be to upload the `/config` folder (and ideally settings_data.json after settings_schema.json) after everything else, as the info in `settings_data.json` is reliant on the schema in each section file existing.

[2016-11-24 19:05] tanema commented on #171
@cshold I am still trying to figure out how to handle this because I cannot come up with an easy way of adding precedence to these items. For instance do I always upload the schema before the data even if the schema has not changed?

This happens mostly with update or replace right? I assume that it wouldn't happen with watch since you would edit your schema first.

[2016-11-24 19:12] cshold commented on #171
I haven't seen it happen with `watch` — it only seems to happen when moving to a new theme (aka replacing one) via `replace` or `upload`. I don't think you'd have to consider this for `watch` but not overly confident with that.

[2016-11-24 22:04] PTcampbell commented on #258
I ripped it up and started again and everything is well again – sorry to have lead you down the garden path. Thanks for your help.

[2016-11-24 22:04] #258 closed

[2016-11-24 22:13] tanema commented on #258
So you were using ignore patterns then?

[2016-11-24 23:18] stewartknapman opened #268 "Theme download does not respect directory setting in config"
I currently have a folder structure of:

   Client/
     -- Theme1/
     -- Theme2/
     -- config.yml

Inside my config i have a directory set up for Theme1/ and running `theme watch` from the client directory works as expected. A file changed inside the Theme1 folder is updated on the store. Magic.

But when I run `theme download` from the same place it pulls down the theme into the current Clie

[2016-11-25 02:27] tanema commented on #268
@stewartknapman thanks! I will look into it.

[2016-11-25 02:28] tanema commented on #268
What version of themekit are you using?

[2016-11-25 02:33] tanema commented on #268
I cannot reproduce this on version `0.5.3` the most current version.

[2016-11-25 02:33] #263 closed

[2016-11-25 02:34] #251 closed

[2016-11-25 02:57] PTcampbell commented on #258
Yes – my bad 🙈

In my config I had …

  ignore_files:
    - config/settings.html
    - "*.png"
    - "*.jpg"

[2016-11-25 03:08] stewartknapman commented on #268
@tanema I'm also on version `0.5.3` I installed it fresh today.

[2016-11-25 14:40] tanema commented on #268
Hey @stewartknapman The problem is that the directory config is not read in from the config file. I will fix this soon. You can workaround this by passing in the `--directory` flag.

[2016-11-25 20:57] #267 closed

[2016-11-27 22:47] stewartknapman commented on #268
@tanema Thanks for the update

[2016-11-28 15:09] #268 closed

[2016-11-28 17:03] #171 closed

[2016-11-28 17:19] tanema commented on #253
@pkavanaghjr I just release version 0.6.0, can you please try it out? I have added more default ignores and less directory watching so it will use fewer file descriptors. If that does not work can you also please try @signal-intrusion solution?

[2016-11-28 17:51] tanema commented on #146
Open PR will make theme kit now install to `/usr/local/bin/` as well as adds a home brew formula. I may need help with the other two installation strategies because I have no experience doing them and the documentation is not great.

[2016-11-29 14:10] crysiss opened #273 "Put timestamp on lines"
Please add the ability to display timestamps on every line of status output. This way, when working in a single screen setup and on the same file over and over I won't be wondering "Did that change go up to the server or these logs are from my old changes".

[2016-11-29 21:37] kwhaler opened #274 "Typo - Shopify Theme Kit"
In the [Remove](http://shopify.github.io/themekit/commands/#remove) section,  "Remove will _deletes_ theme files..." should be "Remove will _delete_ theme files...".

[2016-11-29 21:40] kwhaler opened #275 "Typo - Shopify Theme Kit"
In the [Upload](http://shopify.github.io/themekit/commands/#upload) section, "Upload will _upldate_ all..." should be "Upload will _update_ all..."

[2016-11-29 22:16] shanetheboland commented on #219
@Tr1po how did you solve this? I’m having a similar problem

[2016-11-30 01:16] ButsAndCats opened #276 "theme open - no documentation"
There is not documentation on the site for theme open.
Pretty handy command when working with multiple themes and branches and such.

[2016-11-30 03:31] tanema commented on #219
@shanetheboland

- did you run the commands outputted from the installation script?
- did you verify that theme exists at `~/.themekit/theme`?
- are you using a bash shell or something else?

[2016-11-30 05:33] shanetheboland commented on #219
Figured it out.
1. My .bash_profile was a mess.
I added `PATH="/Users/shane/.themekit:$PATH"` to fix this.
2. I had to uninstall the shopify_theme gem. It also uses the `theme` command.

[2016-11-30 15:56] #274 closed

[2016-11-30 15:57] #275 closed

[2016-11-30 18:07] tanema commented on #276
fixed in https://github.com/Shopify/themekit/pull/278

[2016-11-30 18:07] #276 closed

[2016-11-30 18:07] tanema commented on #276
Also you can get the most help from the command line by running `theme open --help`

[2016-12-01 03:23] justinmetros opened #279 "*.js and *.js.liquid upload weirdness"
Noticed something tonight that took me a while to debug, thought I was taking crazy pills in my dev environment. Not sure if a bug or what...

**Issue:** If a javascript file 'my-file.js.liquid' exists on shopify, and you try to 'upload my-file.js', ( without the .liquid extension ) ThemeKit will say it is a successful upload but the file without the .liquid ext will not be in theme folder when yo

[2016-12-01 14:44] tanema commented on #279
The hard part about fixing this is that to Shopify `vendor.js` is the compiled version of `vendor.js.liquid` so the requests are valid because that file exists on the server but is not shown on the web. Did you rename the file while using the watch command? Did you try and fix the theme using replace?

[2016-12-01 15:42] #273 closed

[2016-12-01 17:39] tanema commented on #253
@pkavanaghjr Has confirmed that the new release has fixed this issue.

[2016-12-01 17:39] #253 closed

[2016-12-01 18:28] justinmetros commented on #279
Understood, which is why I wasn't sure if this was a bug or not. e.g. you don't add the .liquid extension when loading the file in liquid.

I will set up a dev store soon that tries to recreate this.

From what I remember, if a file.js.liquid exists, you can't upload a file.js. I did rename while watch was running. I did try stopping watch and using theme replace. I was only able to remedy this by

[2016-12-01 19:07] tanema commented on #279
Yeah I will have to think about this for a while and talk to the themes api team to see if I can mitigate this a little bit.

[2016-12-01 19:46] tanema opened #283 "new Command wizard"
There should be a better interface to the command to get started with editing themes. There should be one command that sets the user up, step by step without them having to know more than one command.

## Design

- Get User Credentials
  - enter shop domain
  - enter private app password
- Choose New Action
  - Work on existing theme
    - List of the users existing themes.
    - Select an existin

[2016-12-02 14:05] brightonmike opened #284 "Keep losing themekit"
Hello.

Might be me being daft but for some reason Themekit keeps disappearing off my Mac. I'm a Mac newb so like I say, could be me being daft. I follow these steps:

Firstly, I run:
`curl https://raw.githubusercontent.com/Shopify/themekit/master/scripts/install | python`

Then it tells me to run:

`echo 'PATH="/Users/name/.themekit:$PATH"' >> ~/.bashrc
source ~/.bashrc
`

With name being my Mac

[2016-12-02 15:24] tanema commented on #284
This sounds like you are using a non bash shell so it works once you source your `.bashrc` but otherwise when you open your terminal the `.bashrc` is not sourced.

[2016-12-02 21:52] thomas1117 opened #285 "Theme download command only creates config.yml"
When running theme download I only get a config.yml and not the entire theme.

[2016-12-02 22:09] thomas1117 commented on #285
Actually after running about 10 times it eventually downloaded.

[2016-12-02 22:10] #285 closed

[2016-12-02 22:23] #284 closed

[2016-12-06 19:44] chryton commented on #283
Could an option be to duplicate a theme to start new from? Though at that point you are basically creating a CLI for most of the existing theme admin.

[2016-12-06 20:02] tanema commented on #283
@chryton duplication would be an good feature as well. Ideally I would love theme kit to be able to serve this purpose and minimize the amount of back and forth between Shopify admin and the command line. The problem is finding enough bandwidth for me to implement it.

[2016-12-06 21:34] frehner opened #287 "Theme replace is not uploading file"
Just barely updated to the latest themekit version -- no other changes.

Suddenly, `theme replace` is not uploading one of my files -- it happens to be my `theme.css` file, so my store has outdated CSS.

I don't have any ignore statements at all.

If I manually say `theme upload assets/theme.css` it works.

It's possible that other files are getting ignored/not uploaded as well, but I've only noti

[2016-12-06 21:48] tanema commented on #287
Is theme.css in your root directory or your assets directory?

[2016-12-06 21:49] frehner commented on #287
@tanema In the assets directory. Sorry for not specifying that :)

[2016-12-06 21:50] tanema commented on #287
What happens when you run `theme replace assets/theme.css`?

[2016-12-06 21:55] tanema commented on #287
Does the file upload while using `theme watch`?

[2016-12-06 21:55] frehner commented on #287
@tanema that updated the file correctly. So then I made another change and just did the `theme replace` again and it didn't upload. So for some reason the whole theme replace command just misses that file.

[2016-12-06 22:04] frehner commented on #287
@tanema `theme watch` works correctly as well.

[2016-12-06 22:06] tanema commented on #287
Can you please email me your config to tim.anema@shopify.com I will take a look.

[2016-12-06 22:08] frehner commented on #287
If I just take out the secrets and post it here is that ok? Or do you want the secrets as well? Since this config file is used to deploy to my live theme on my live site, I'm somewhat hesitant to to give out the secrets, ya know? :)

[2016-12-06 22:09] tanema commented on #287
Yup that is fine as long as you are okay with sharing your store domain. Or you can just email me your store domain and I can get the rest of the data.

[2016-12-06 22:10] frehner commented on #287
[code]

I'll send over the other details.

[2016-12-06 22:24] tanema commented on #287
Ah I understand now, this is because of your `theme.css.map` This makes themekit assume that theme.css is a compiled version of `theme.css.map` You could probably fix this by moving your map somewhere else or by rolling back your theme kit versions by using `theme update --version=<your last version>` although I am not sure how why this would have worked in previous versions.

[2016-12-06 22:26] frehner commented on #287
Oh really? Interesting. I'll just have my SASS job output a .map file and see if that solves it for the moment... though having a css .map file is always nice, but not a deal breaker.

[2016-12-06 22:27] tanema commented on #287
I can have a small fix in the future that will make it so that you can add `*.map` to your ignores and it will clear up these issues. You probably shouldn't be uploading them to shopify anyways.

[2016-12-06 22:30] frehner commented on #287
Any particular reason why they shouldn't be in Shopify? They're only downloaded if devtools is open and they just show the uncompiled SASS source files instead of the the minified CSS files, so AFAIK there's nothing secret in them... but I'm always willing to learn more.

[2016-12-06 22:32] tanema commented on #287
Only theme specific files should be stored on shopify, development files should not be. Not a hard law just a guideline.

[2016-12-06 22:40] frehner commented on #287
Ok, I can see that point of view. I would contend that having access to SASS sourcemaps is pretty theme specific, and since themes can only be developed on Shopify (as opposed to a localmachine) that they're kind of necessary to be uploaded to help out development...

But nothing major in any case. :D

I just tested out the removal of the theme.css.map file and you are correct that my theme.css fi

[2016-12-07 00:48] ButsAndCats opened #288 "No timeout message"
Downloading a theme today with a lot of files I got the log:
`[development] Fetching assets from *****.myshopify.com`
but then the command stopped running without downloading any files or any message.

I resolved the issue by adding `timeout: 90s` to the config on a hunch but it would be handy to know if the command had timed out. I think this used to be a feature of themekit.

[2016-12-07 02:40] adamwooding opened #289 "Default environment when using multiple environments"
Hi,
If I set up several environments in my config.yml file (eg. production, development), which environment is used by default when running watch commands, etc?

Thank you,
Adam Wooding

[2016-12-07 02:54] adamwooding opened #290 "ignore_files on Theme Kit docs"
Hi there,
I noticed that the ignore_files listed in the example Config File on the Theme Kit documentation page [http://shopify.github.io/themekit/configuration/](http://shopify.github.io/themekit/configuration/) are listed as follows:

[code]

Should they actually be listed as follows (beginning with the dash - ):

[code]

Kind regards,
Adam Wooding

[2016-12-07 14:32] tanema commented on #289
The default environment is development. I will make a note in the documentation.

[2016-12-07 14:34] tanema commented on #288
Thanks @ButsAndCats I will look into it because it by default has a value of 30s so it should timeout no matter what.

[2016-12-07 14:49] #289 closed

[2016-12-07 14:49] #290 closed

[2016-12-07 17:43] #288 closed

[2016-12-08 18:03] #287 closed

[2016-12-08 22:52] justinmetros commented on #263
If anyone has moved to json ( love this feature, thank you! ), and gets this error on theme watch:
`Error: json: cannot unmarshal string into Go value of type time.Duration`

In your config.json, make sure time is a number, not a string, with no "s" at the end. e.g.
`"timeout": 30,`
not
`"timeout": "30s",` or `"timeout": 30s,`

Here is a sample config.json that watches a folder called "theme", sin

[2016-12-08 23:21] justinmetros commented on #263
There seems to be a bug with timeout using the json format.

If you convert YAML to json, the 30s turns into a string `"timeout": "30s"`, that throws an error`json: cannot unmarshal string into Go value of type time.Duration`

If you create it as a number, and drop the "s", `"timeout": 30,` you get an error `Put https://xxxxxx.myshopify.com/admin/themes/1234566789/assets.json: net/http: request ca

[2016-12-08 23:26] tanema commented on #263
I have left the json config undocumented because it is not the recommended config usage. The issue with your timeout however is that the value when given to a Go `time.Duration` in the form of an int is used as a nanosecond so your value of `1000000000` nanoseconds is one second.

[2016-12-08 23:35] justinmetros commented on #263
Ah, that makes sense! Thanks for the insanely quick response!

The config.json file is very nice for us compared to config.yml because it's really easy to natively pass some of the store data to Gulp, BrowserSync, etc without having to add an extra dev dependency to get at the info, or have it duplicated in another place. That said YAML does have its benefits over json, so I am happy having the un

[2016-12-09 00:23] jjui opened #294 "Sections is deleted on save"
Hi there,

Got a quirk - and can be related to 0.6.1 as I just updated.

There was a strange wrapping behavior I noticed in `theme.liquid` > `#MainContent` (in my case) just after the update. Only two sections were in the right place (within my ID) and the others where beneath. As nothing were really affected, I did a sidenote and continued my business.
Then, the...

**Issue**:
* Almost every cust

[2016-12-09 14:39] jjui commented on #294
This was caused by a extra `</div>`, the strange thing is that this broke the backend.
Will ofc colse this leaving a thaught: How can the extra `</div>`break the backend?

[2016-12-09 14:41] tanema commented on #294
@jjui Hey I was just replying I am glad your figured it out. I will talk to the theme developers about handling this. It probably should have replied with a syntax error.

[2016-12-09 14:45] tanema commented on #294
@jjui Which commands were you using? `theme replace`? Did you get any errors from uploading or did you get a successful message?

[2016-12-09 14:54] chryton commented on #283
That is the struggle.

[2016-12-12 07:32] crysiss commented on #273
Thanks for the fix! This is very helpful :)

On 1 December 2016 at 17:42, Tim Anema <notifications@github.com> wrote:

[2016-12-12 14:44] mustafahlvc opened #295 "watch not detect the changes under templates/customers"
"theme watch" don't detect the changes under templates/customers/ folder.

I have tried the versions it didn't work for v0.6.0 and v0.6.1

[2016-12-12 15:57] tanema commented on #295
hey @mustafahlvc thanks for letting me know I will look into this.

[2016-12-13 13:06] sarhov commented on #295
+ still not working

[2016-12-13 13:59] tanema commented on #295
@mustafahlvc I have tested this and it seems to be working in v0.6.1. Do you have any ignore patterns in your config.

[2016-12-13 14:03] sarhov commented on #295
my installed version is 0.61 and it is not working yet, in ignore, I have only settings json

http://u.sarhov.com/2hAqKIR

[2016-12-13 14:19] tanema commented on #295
@mustafahlvc are you also using windows

[2016-12-13 14:45] mustafahlvc commented on #295
Yes @tanema  i'm also using windows. I have ignore patterns but i had removed and tested it. not fixed.

[2016-12-13 14:59] mustafahlvc commented on #295
@tanema I have tested with macOs and it works. Seems the issue happen only for windows.

[2016-12-13 17:41] KKurek97 opened #296 "Error when start theme watch"
I have an error when i run theme watch:
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x20 pc=0x4721cc]

goroutine 1 [running]:
panic(0x781700, 0xc042006080)
        /usr/local/Cellar/go/1.7.1/libexec/src/runtime/panic.go:500 +0x1af
github.com/Shopify/themekit/kit.(*FileWatcher).watchDirectory.func1(0xc04237c6c0, 0x10f, 0x0, 0x0, 0x9777a0,

[2016-12-13 17:51] tanema commented on #296
What version are you running

[2016-12-13 17:54] KKurek97 commented on #296
0.6.1

[2016-12-13 17:56] tanema commented on #296
What OS are you using and did it work until recently? Do you have a config.yml? Are you providing any arguments to `theme watch`

[2016-12-13 18:00] KKurek97 commented on #296
windows 10 64-bit, i have a valid config.yml becauce theme download works and ilm not providing any arguments

[2016-12-13 18:12] tanema commented on #296
Is this your first time using theme kit or did it work until recently?

[2016-12-13 18:16] KKurek97 commented on #296
Second time and in my old project works well

[2016-12-14 16:23] KKurek97 commented on #296
Any ideas?

[2016-12-14 17:16] tanema commented on #296
Sorry I have not had a moment to look into it I will get back to you when I do.

[2016-12-14 20:47] tanema commented on #296
It seems like there is a critical error while theme kit it setting up file watchers. I have a PR in progress to handle these errors in a more graceful way so it will be more apparent what the actual issue is.

[2016-12-16 19:33] KaBrau08 opened #299 "Reading Body"
I have the following issue whith "theme download" command:

- Status: Ok
- Errors: Client timeout exceeded while reading a body.

[2016-12-16 20:57] tanema commented on #299
please try and increase your timeout limit by setting `timeout: 60s` in your configuration.

[2016-12-17 14:45] plisvb commented on #299
Hi,

I'm allso getting the same issue: `Status: 200 OK
	Errors: net/http: request canceled (Client.Timeout exceeded while reading body)`
Increased the timeout to 60s didn't help.

[2016-12-19 16:10] chryton commented on #279
Also to be clear, this problem happens with virtually any file that can have both a `.extension` and `.extension.liquid` in assets such as `styles.css` and `styles.css.liquid`.

[2016-12-19 16:26] tanema commented on #279
I am quite aware thank you.

[2016-12-20 15:29] tanema commented on #299
@plisvb @KaBrau08 That exact error message is the message you get when your request times out. This either means that your connection is slow or your request is large. You should keep increasing the timeout until it works again. As a note, your request would be large if your project has any large files in it like video files or very large images.

[2016-12-20 16:47] stevebosworth opened #300 "Ability to whitelist files/folders instead of ignoring"
Working on a project which does not build into a `dist/` before using themekit to upload and I'm trying to whitelist the relevant folders because we have so many folders/files at the root of the project that aren't part of the theme itself.

We tried using a regex but negative lookaheads are not supported by go's regex implementation.  We also tried using negated globs to whitelist the `assets/ co

[2016-12-21 15:16] tanema commented on #300
With the release of `0.6.1` theme kit should only watch those directories and nothing in the root directory. Which version are you using?

[2016-12-21 15:18] tanema commented on #300
well actually only
[code]

[2016-12-21 15:27] stevebosworth commented on #300
oh cool, I think I'm still on 0.6.0.  Will try out 0.6.1

[2016-12-21 16:25] stevebosworth commented on #300
@tanema watch works great for 0.6.1 but it would still be great to either extend those defaults to `upload` and `replace` or add the ability to use a whitelist for those commands

[2016-12-21 16:27] tanema commented on #300
oh yeah I should be scoping the local assets for upload and replace to be only part of the project as well. I will look into that when I get back.

[2016-12-30 01:25] bhekuwenza commented on #230
Taank you @tanema!

It is working now. Sorry, busy holiday season with projects on the go :(

Happy New Year

[2017-01-01 05:51] krisdahl commented on #186
Seems like wouldn't be that hard to have it output the error if getting a 403

[2017-01-01 18:59] tanema commented on #186
@krisdahl A 403 response code just means you do not have permission to access a resource. There is no indicator why you do not have permission. This could mean many things like you do not have your access rights setup correctly as in this case, but it could also mean you have an incorrect theme id, or an invalid password. None can be determined from a simple 403 status code.

[2017-01-03 13:31] charlesemarsh commented on #299
theme download --timeout 420s

This fixed it for me

[2017-01-03 13:59] tanema commented on #299
@charlesemarsh Thanks for confirming this.

[2017-01-03 13:59] #299 closed

[2017-01-03 14:03] #295 closed

[2017-01-03 14:03] #296 closed

[2017-01-03 16:29] #294 closed

[2017-01-03 18:39] tanema commented on #68
I added this functionality to the bootstrap command however in the future I would like to add all this functionality in the the `new` command described in #283

[2017-01-03 18:46] tanema opened #303 "ReadOnly setting in config."
This would allow users to be able to use the `allenvs` flag and not worry about accidentally overwriting the live theme in their config.

[2017-01-04 15:46] #68 closed

[2017-01-04 15:46] #300 closed

[2017-01-04 15:46] #303 closed

[2017-01-04 17:00] tbeseda opened #305 "0.6.2 Windows File Paths are broken in 0.6.2"
After updating to 0.6.2 on Windows 10 Pro I get the following log entry and an abrupt quit when I run `> theme replace`:
[code]
Nothing is logged further and the command quits.

My config looks like:
[code]

I have reverted to 0.6.1 and successfully run `> theme replace`.

I may be able to help troubleshoot in the next few days if you have ideas.

Thanks!

[2017-01-04 17:44] tanema commented on #305
@tbeseda you can actually take out those ignores now since now the actions are only performed on theme folders (`templates`, `config`, `assets`, ect.) so those folders and the files in the main directory will no longer be touched.

However this is probably an issue with windows paths with ignores, I will look into it.